[2020-02-11 07:06] altezza04 opened #1 "The latest and all route is not working on the API server"
The latest and all route is not working on the API server

https://coronavirus-tracker-api.herokuapp.com/latest
https://coronavirus-tracker-api.herokuapp.com/all

Thanks!

[2020-02-11 07:53] ExpDev07 commented on #1
I am working on ``/all`` now, which will replace ``/latest``.

[2020-02-11 08:09] ExpDev07 commented on #1
Added now, also added a total to the other endpoints and countries are now nested under locations.

Current endpoints:
https://coronavirus-tracker-api.herokuapp.com/confirmed
https://coronavirus-tracker-api.herokuapp.com/deaths
https://coronavirus-tracker-api.herokuapp.com/recovered

For all of them combined:
https://coronavirus-tracker-api.herokuapp.com/all

[2020-02-11 08:09] #1 closed

[2020-02-12 08:36] isratahm opened #2 "A 404 Error"
Hi- thank you so much for this! (Context I'm very much a beginner at this, but I thought I'd give it a go)

And I seemed to have followed all the instructions and have gotten everything set up. But since it's my first time I must have made some sort of error because I keep getting a 404.

Here is the exact error "GET / HTTP/1.1" 404 -

Would really appreciate it if you could help! Thanks (:

[2020-02-12 15:34] ExpDev07 commented on #2
There could be multiple reasons for this. You have to give more information like your OS, are you trying locally or deploying somewhere. Any errors in your console?

[2020-02-12 16:16] isratahm commented on #2
Sorry for the lack of information! I am using MacOS Catalina, and am trying to deploy locally.

I installed python, pip, pipenv, flask and then ran the lines below:

git clone https://github.com/ExpDev07/coronavirus-tracker-api.git
cd coronavirus-tracker-api
pipenv shell
pipenv install
Running / Development

flask run
Visit your app at http://localhost:5000
But when I try to visit the app, I get t

[2020-02-12 17:04] ExpDev07 commented on #2
Oh, right. There's nothing at "/" (http://localhost:5000). The available endpoints are:
- http://localhost:5000/all
- http://localhost:5000/confirmed
- http://localhost:5000/deaths
- http://localhost:5000/recovered

These can be found in the "routes" folder, also note the __init__.py file in this folder as well. Hope this helped!

[2020-02-12 17:32] isratahm commented on #2
You are legitimately amazing. It works! it was so simple! I'm hoping to run the data through Tableau (:

[2020-02-12 18:28] #2 closed

[2020-02-12 18:58] windsolace opened #3 "Date sorting"
Hey, want to check if 2/11/20 and 2/12/20 appearing before 2/2/20 is intended

[2020-02-12 20:21] ExpDev07 commented on #3
I’m gonna check it out. Think I have to parse the dates and do some sorting. For now, you can just sort them client side, it’s not really the biggest deal.

[2020-02-14 18:13] TheApphiver opened #4 "Problem with the api"
We are currently using this api for an app to track coronavirus, the issue is that the api returns 0 and empty arrays, we want to know if it is something wrong with the server or your updating the directories.

[2020-02-14 19:42] ExpDev07 commented on #4
This is an issue with the third party the API is retrieving data from. I’ll get it fixed myself in a couple of hours.

[2020-02-14 21:01] TheApphiver commented on #4
Ok thank you so much

[2020-02-14 23:29] ExpDev07 commented on #4
It should now be all fixed and working.

[2020-02-14 23:32] #4 closed

[2020-02-26 00:32] dducted opened #7 "Update interval"
Hi there,

I have just one quick question. How often does the API update? Right now its showing 79570 while https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6 shows 80421.

[2020-02-26 06:07] ExpDev07 commented on #7
If you look at the data link repository, there have been some questions why the numbers differ from JSU’s dashboard and repository. It’s not by a lot, but some. I’d rather go and ask there.

To answer your question: it updates every time the JSU’s repository updates (follow link under Data in README.md).

[2020-03-03 11:50] bjarkimg commented on #7
There is a 1 day lag on this data vs the archis dashboard, JSU desision I believe.

[2020-03-03 13:38] ExpDev07 commented on #7
There you have it :). Thanks, @bjarkimg !

[2020-03-03 13:39] ExpDev07 commented on #7
@all-contributors add @bjarkimg for question.

[2020-03-03 13:40] #7 closed

[2020-03-03 21:30] dwalks12 opened #9 "Can you set up Gzip Compression on the request?"
It would be nice to have Gzip compression on the request if possible

[2020-03-03 21:34] ExpDev07 commented on #9
Is that really necessary? The data returned is like 300kbs (with below < 200ms on my connection) uncompressed when hitting ``/all``. I can look into getting it added.

[2020-03-03 23:18] dwalks12 commented on #9
Not really just more so for page performance scores with google

[2020-03-03 23:37] WeileiZeng opened #10 "Open Source Helps!"
Thanks for your work to help the people in need! Your site has been added! I currently maintain the OpenSourceWuhan page, which collects all open source projects related to COVID-19, including maps, data, news, api, analysis, medical and supply information, etc. Please share to anyone who might need the information in the list, or will possibly contribute to some of those projects. You are also we

[2020-03-06 10:46] pizzavore opened #13 "Keep API and format stable and consider adding Time Updated"
First off, thanks for creating this API! It's very useful.

As I believe many people are now using this, I hope you keep the API and format stable, i.e. no breaking changes, such as changing the format of the dates, etc.

If you do see a need to make a breaking change, please consider adding separate endpoint URIs, such as with a version in the path or something.

Also, as a non-breaking change, i

[2020-03-06 12:10] Bost opened #14 "Adding country codes"
Would you be interested in adding [ISO_3166-1](https://en.wikipedia.org/wiki/ISO_3166-1) alpha-2 or alpha-3 country codes? E.g. extending:
[code]
by
[code]
My telegram bot https://t.me/corona_cases_bot needs it, and I consider what is better - implemented in mine or your project?

[2020-03-06 12:42] ExpDev07 commented on #14
Would be beneficial to also allow querying the API for specific countries. Would both codes be neccecary or should we go with only one??

[2020-03-06 12:45] ExpDev07 commented on #13
Thanks! Yes, there are quite a few people using the API. If breaking changes are coming, they’ll be added under a separate URL (e.g /v2/all). The last updated is a good idea.

[2020-03-06 13:19] Bost commented on #14
Just alpha-2 should be probably enough. alpha-2's are unambiguous so an additional translation to alpha-3 is trivial. And also less data transferred means faster API service.

[2020-03-06 14:05] ExpDev07 commented on #14
The last issue I guess would be to figure out how to pull the country codes as JSU doesn't offer them. I'm guessing the best solution would be to hard-code them into a map ("Mainland China" => "CN").

[2020-03-06 17:03] #14 closed

[2020-03-07 01:24] altezza04 opened #16 "Server error"
It seem server is down https://coronavirus-tracker-api.herokuapp.com/all 500 internal error

[2020-03-07 01:36] ronaldaug commented on #16
Same here "Internal Server Error".

[2020-03-07 01:36] Omaroid commented on #16
Same

[2020-03-07 01:53] ExpDev07 commented on #16
Looking into it.

[2020-03-07 02:01] ExpDev07 commented on #16
Issue has been resolved. Thanks for reporting!

[2020-03-07 02:30] #16 closed

[2020-03-07 18:07] #13 closed

[2020-03-07 18:08] ExpDev07 commented on #13
Added per https://github.com/ExpDev07/coronavirus-tracker-api/pull/18.

[2020-03-07 18:14] ExpDev07 commented on #3
This isn't a bug. Since it's a JSON object and not an array, the order returned by the code will not be preserved.

[2020-03-07 18:14] #3 closed

[2020-03-07 20:58] pacificgilly1992 opened #19 "Use ISO 8601 for formatting dates in API calls"
I’ve noticed that you use the American date time format MM/DD/YY for the dates returned in the API calls despite you using iso formatted dates in parts of your source code. Could we make this API a lot more robust and stick to a sensible date time format such as ISO 8601, to avoid guess work.

[2020-03-07 21:05] ExpDev07 commented on #19
Apologies for that. The JSU data repository where we retrieve the data provides the "MM/DD/YY" date format, which was initially used. Changing this now will cause a lot of people's apps to break, which would not be good. The ``last_updated`` field was added today, and I went with the ISO 8601 format as it was better suited for that specific field.

If, in the future, when we decide to make major c

[2020-03-08 01:10] Bost opened #20 "Integrity checks"
The JHU CSSE screw it up again so I guess we need to implement some integrity check against broken input.

[2020-03-08 01:12] Bost commented on #20
https://github.com/CSSEGISandData/COVID-19/issues/238#issuecomment-595743380

[2020-03-08 01:13] ExpDev07 commented on #20
Just noticed it. Gonna try to work on a fix now ASAP before there's angry people here :)

[2020-03-08 01:15] Bost commented on #20
They claim they fixed it already so I guess you just need to empty the cache. AFAIR time-to-live is 1 hour right? :)

[2020-03-08 01:17] ExpDev07 commented on #20
Gonna go restart the server.

[2020-03-08 01:21] ExpDev07 commented on #20
Seems to be fixed, but probably wouldn't be a bad idea to make it more robust in case of unexpected errors such as this 👍 .

[2020-03-08 01:32] Bost commented on #20
It works now. Thx.

[2020-03-11 02:29] chovy opened #21 "data for us is missing a lot from the other day"
A few days ago there were cases in santa clara, santa cruz counties and now they show zero.

[2020-03-11 02:31] chovy opened #22 "add county data source for (US only)"
https://sfc-project-files.s3.amazonaws.com/project-feeds/covid19_us_cases_us.json

[2020-03-11 03:11] ExpDev07 commented on #21
If they’re removed, then John Hopkins University removed them. There could be multiple reasons for this.

[2020-03-11 14:18] pizzavore opened #23 "possible new problem with Country Codes"
I just noticed it this morning: 2020-03-11 14:14

It looks like some of the country_code fields are now set to "XX" .  The reason I noticed it now, is that Iran is set to "XX". I'm pretty sure it was correctly set to "IR" yesterday.

 I can remap it locally in my code, I just wanted to give you a "heads up".

Thanks again for everything!

[2020-03-11 17:11] ExpDev07 commented on #23
Thanks for the heads up. I’ll investigate, it’s probably just JHSU messing around, *again*.

[2020-03-11 17:43] coronafighter opened #24 "FYI I am using your API"
https://github.com/coronafighter/coronaSEIR
Thanks a bunch!

[2020-03-11 18:28] mikebarton23 opened #25 "Incorrect US Data"
Seems like this is likely on Johns Hopkins side but I'm seeing inconsistencies in day-to-day data for the U.S. It looks like maybe they've decided to aggregate by state now in addition to by county and some of the original county data was left in. For example, "Washington" had 0 cases on 3/9/2020 but has 267 listed on 3/10/2020.  However, there is still data from counties within Washington being c

[2020-03-11 20:35] ameenpv commented on #23
May be [this is the reason for that glitch](https://github.com/CSSEGISandData/COVID-19/issues/504)

[2020-03-11 20:42] ExpDev07 commented on #23
@ameenpv That was indeed it. I have updated the country codes to reflect the new country names.

[2020-03-11 20:42] #23 closed

[2020-03-11 20:43] ExpDev07 commented on #22
This looks like something which is a bit far off right now.

[2020-03-12 01:56] chovy commented on #25
https://lionbridge.ai/datasets/coronavirus-datasets-from-every-country/

Maybe we need a new data set since JHU is unreliable now.

[2020-03-12 01:57] chovy commented on #22
https://lionbridge.ai/datasets/coronavirus-datasets-from-every-country/

[2020-03-12 02:30] ExpDev07 commented on #25
I wouldn’t exactly call them unreliable. Many major news outlets (including local and national ones in my country) are still quoting their data. There’s probably issues open right now that addresses this.

[2020-03-12 03:35] Bost commented on #24
:)
FYI it's 4:30 in the morning and I'm sending a PR to his API :)

[2020-03-12 04:54] ankitKad opened #27 "China source is fetching empty data"
From morning today, all provinces from China is showing 0 records. Please fix it if there's a problem regarding the data.

[2020-03-12 09:49] majidkorai opened #28 "Incorrect country_codes"
I have noticed, that two digit country codes (country_code) for some countries are not correct, api is returning `XX` instead of actual country code. Example countries Iran, South Korea etc.

[2020-03-12 10:11] majidkorai commented on #28
Just went through the code. turns out that problem is in the country codes utility. `country_code` mappings for some countries doesn't resolve to their names. Its not only `Iran` and `South Korea`, there are few other countries as well for which codes are not resolved.

[2020-03-12 10:21] bravemonkey-13 opened #29 "Country codes changed"
Looks like the country codes changed at some point - Ontario was 148 when I first tested, but now that is Pierce, WI and Ontario is 94.

[2020-03-12 11:30] saifalfalah opened #30 "Last 24 hours?"
Is it possible to get just the new confirmed cases in the last 24 hours?

[2020-03-12 12:48] ExpDev07 commented on #28
Should be fixed now. This is unfortunately a symptom of JSU constantly changing their naming conventions...

[2020-03-12 12:48] ExpDev07 commented on #29
Should be fixed now. This is unfortunately a symptom of JSU constantly changing their naming conventions...

[2020-03-12 12:51] ExpDev07 commented on #30
At the moment no, you can, however, get the confirmed cases the last 24 hours by taking the most recent date in the history and subtracting it with the the day before.

[2020-03-12 12:53] ExpDev07 commented on #27
I believe this has been fixed? It most definitively was an issue on JSU’s side, which seem to be quite common nowadays. China provinces show data now for me at least.

[2020-03-12 13:20] saifalfalah commented on #30
That's what I was thinking. Does the number of cases have an impact on how many people have been cured? What I mean is, let's say if there are 100 people infected today, and 10 get cured and 20 more get infected, will the new number tomorrow be 120 or 110?

[2020-03-12 13:24] ExpDev07 commented on #30
Yes, it does. The latest history can show lower numbers than before if recoveries occur more quickly than confirms.

[2020-03-12 13:26] saifalfalah commented on #30
So that means that (PrevDay - Today) will not give the correct number of new cases in the last 24 hours, right?

[2020-03-12 13:48] mikebarton23 commented on #25
I checked out the JHU GitHub page and found an announcement about data formats moving forward: [Issue #504](https://github.com/CSSEGISandData/COVID-19/issues/504)

Essentially, they're aggregating by state now but still kept some of the city data in there which led to lots of double counting. I got around this on the historical side by taking the last two letters of the city (e.g. Columbia, SC) an

[2020-03-12 13:49] elsonjose opened #31 "Long in location"
The long variable cant be used in java as an identifier because its a keyword. Please change it to lng.

[2020-03-12 14:13] ExpDev07 commented on #25
Assuming that they’re still working on it, it’ll get fixed soon and show the correct data.

[2020-03-12 14:16] ExpDev07 commented on #31
If you’re talking about JSON deserialization to a POJO, you should have a way to set an alternative way. Example:
‘’’java
@JsonProperty(“long”)
private long longitude;’’’

Changing it in the API will lead to very many apps breaking, which I don’t want to do.

[2020-03-12 14:16] mikebarton23 commented on #25
It didn't necessarily sound like they were planning on fixing it based on what I read. But your API is working as intended so it's nothing on your end.

Really appreciate you building out this API, by the way. It has been a huge help!

[2020-03-12 14:45] ExpDev07 commented on #30
@saifalfalah Yes, you are correct :/. Doesn't look like Johns Hopkins CSSE provides the amount of new confirmed cases....

[2020-03-12 15:31] elsonjose commented on #31
Thanks.

[2020-03-12 15:31] #31 closed

[2020-03-12 15:58] pizzavore commented on #30
Hmmm... That's not how I understand the data.  I don't think the number of confirmed cases can ever decrease. I believe all the data metrics can only increase.  I believe the answer to saifalfalah's question is: the number of confirmed cases will be 120, and the recovered cases will increase by 10.

[2020-03-12 16:12] ExpDev07 commented on #30
@pizzavore is probably right. I have seen it decrease before, but the explanation could be that the initial amount was wrong and it was lowered to be corrected. I understood it as currently infected, but when you think about it doesn’t make any sense why’d they call it confirmed then.

[2020-03-12 16:13] ExpDev07 commented on #31
No problem! :)

[2020-03-12 16:38] pizzavore commented on #30
Good point, I agree they could decrease due to a correction.

Currently "active" cases  =  confirmed - (deaths + recovered)

But I suspect many of the confirmed cases will never be reported as "recovered" if people are recovering in their homes.

[2020-03-12 16:42] #29 closed

[2020-03-12 16:42] #28 closed

[2020-03-13 09:00] OmkoBass opened #32 "History won't update"
History is still on march 9th even though today is march 13th.

[2020-03-13 11:24] Abdirahiim opened #33 "I'm using your API"
Thanks for the API!  I'm currently using it for my twitterbot https://github.com/Abdirahiim/covid19trackerbot

[2020-03-13 11:45] #32 closed

[2020-03-13 15:18] paolotamag opened #34 "API not updating"
I spent some time to build a visualization with your API. However for today it still shows 0 increase in Italy and in other countries. Are you guys aware of any issue?

[2020-03-13 15:24] Abdirahiim commented on #34
I don't think it's the API but it's the data source, the timestamp in the API looks like it updates

[2020-03-13 15:27] cfchenr commented on #34
Same issue

[2020-03-13 15:28] ExpDev07 commented on #34
The API retrieves data from the  2019 Novel Coronavirus (nCoV) Data Repository, provided by JHU CCSE on an hourly basis. This repository, however, updates only once a day.

[2020-03-13 15:43] #34 closed

[2020-03-13 16:06] Matthiasjee opened #35 "Change in data source"
There's been a change in the data source folder naming. Because of that the latest updated date in history is 3/9/20.

[2020-03-13 16:10] ExpDev07 commented on #35
It's not. The JSON is just not sorted (because it's a dict and not an array), so if you actually go through all the history, you'll see there's data for 3/11/20 for example. Can you point to the data source folder naming please?

[2020-03-13 16:36] Matthiasjee commented on #35
Sorry, my bad, didn't look closely. Thank you for your work!

[2020-03-13 16:36] #35 closed

[2020-03-13 17:44] paolotamag opened #36 "Using your API in KNIME Analytics Platform (open source)"
Hello again,
this is a workflow I created using KNIME.
https://kni.me/w/SjvvBM2fXG3APLP-
I linked this GitHub repo in the KNIME Hub page.
Feel free to download the workflow and open it in the free desktop tool KNIME Analytics Platform (https://www.knime.com/downloads/download-knime) to see the visualization.
Cheers
Paolo

[2020-03-13 20:21] majidkorai opened #37 "Using your api for a simple visualization"
Hi,

I am used your api to create a simple visualization [here](https://github.com/majidkorai/corona-viz)

[2020-03-13 22:07] pacificgilly1992 commented on #19
This makes perfect sense not to update this version. Thanks

[2020-03-13 22:38] #19 closed

[2020-03-13 23:01] pizzavore opened #38 "Values for March 12 are duplicates of March 11 for certain countries"
I haven't gone through all of the data yet, but I can confirm that for Italy:  The values for March 12 are the same as March 11, for all three metrics: confirmed, deaths, recovered.

For Spain, the same is true for confirmed and recovered, but for deaths the value on March 12th is 55, which is one more than March 11th (54), but 55 is incorrect for March 12th, the correct value should be somewhere

[2020-03-13 23:16] ExpDev07 commented on #38
If there's duplicate values for both dates, then JHU put duplicate values. Very little I can do. You can manually check the data by looking in these CSV files: https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series.

[2020-03-13 23:58] pizzavore commented on #38
You are correct, the JHU files have the duplicate values as well. Hopefully they will correct them  over the next day or two.

Thanks!

[2020-03-14 00:08] #38 closed

[2020-03-14 01:50] john-bauer opened #39 "Latest confirmed, deaths, and recoveries are all 0"
Using it here https://coronavirus-tracker-demo.netlify.com/

[2020-03-14 01:53] RashikCh commented on #39
Seems to be an issue with the API. No code changes publicly so I'm not sure.

[2020-03-14 01:54] ExpDev07 commented on #39
https://github.com/CSSEGISandData/COVID-19/issues/686

[2020-03-14 01:56] john-bauer commented on #39
Ok, thanks for clarifying and thanks for making this!

[2020-03-14 01:58] ExpDev07 commented on #39
No problem, should probably keep it open so others see it and close when JHU fixes their *swears* data *again*.

[2020-03-14 02:13] Lastmentor opened #40 ""3/13/2020" data is empty"

[2020-03-14 02:13] chovy commented on #40
yup

[2020-03-14 02:15] RashikCh commented on #39
That is disappointing to see, I might start parsing the csv files for daily_reports myself but from looking at the other issues those may not be reliable too?

[2020-03-14 02:18] ExpDev07 commented on #39
Indeed. Would really expect to see a higher standard for a repo with 8k+ stars. Sudden changes in naming conventions, changing names of files, data mixup, and now this. It'll probably be fixed soon though.

[2020-03-14 02:19] ExpDev07 commented on #40
https://github.com/ExpDev07/coronavirus-tracker-api/issues/40

[2020-03-14 02:19] #40 closed

[2020-03-14 02:37] ExpDev07 commented on #39
Seems to be fixed now!

[2020-03-14 04:07] Bost opened #41 "Format breaking change in 002e1af - Why?"
002e1af `History now returns a string-int pair and not string-string`

And I had the impression you understand that format breaking changes must be avoided!!! Oh how silly was I!
:angry:

[2020-03-14 04:07] Bost commented on #41
I'm unstarring your repo.

[2020-03-14 04:50] ExpDev07 commented on #41
It’s not a breaking change. It was initially a bug, and people would convert the string to a int in their code, which still works without change.

[2020-03-14 04:50] #41 closed

[2020-03-14 04:50] #39 closed

[2020-03-14 08:36] thalen commented on #37
I made one as well. [here](https://github.com/thalen/corona-inspector)

[2020-03-14 08:48] chovy commented on #39
It’s still broken.

[2020-03-14 11:59] elsonjose commented on #31
Anyway i completed the project. Feel free to contribute and suggest changes. https://github.com/elsonjose/Covid19

[2020-03-14 12:03] Bost commented on #41
Oh yea, it worked so well that I had to release a hot fix at 4:42 in the morning containing a commit titled:

[Fix format breaking change in ExpDev07/coronavirus-tracker-api](https://github.com/Bost/corona_cases/commit/a00eeddcba482ef437e52607acfce6d14515e1e1)

Thank you sooo, much. You know, when writing this issue I thought you gonna reply something along the lines:

But no, you're denying the p

[2020-03-14 15:37] ExpDev07 commented on #31
Good job!

[2020-03-14 15:40] ExpDev07 commented on #41
I do apologize for any inconveniences. I will make sure it doesn’t happen again in the future.

[2020-03-14 20:57] neelr opened #42 "Querying locations for a specific province takes time"
I'll make a PR, but when you query for a province in locations, its a large array, so it would be easier to return a object with province and if null then country

[2020-03-14 21:21] ExpDev07 commented on #42
Could you give an example of object returned?

[2020-03-14 21:23] neelr commented on #42
instead of
[code]

it would be

[code]

[2020-03-14 21:27] marbysneaker opened #44 "latest for U.S. counties showing 0"
Is this still working? It seems all provinces/counties in California are all showing 0 for the value of "latest"

[2020-03-14 21:34] marbysneaker commented on #44
Also is there a way to pull US (the whole country) data alone? I can't find one with just US data its all separated in states and counties.

[2020-03-14 21:42] ExpDev07 commented on #44
California is showing 282 for me? You can easily get the U.S data alone by doing some mapping. E.g in js:
[code]

The data is pulled from here: https://github.com/CSSEGISandData/2019-nCoV, so if the county shows 0, it probably means there's no data for it. I also believe they stopped tracking at county/city-level and are now doing states as whole instead which is also why they might show 0.

[2020-03-14 22:06] chovy commented on #44
I'm missing like 90% of cases in US. https://virusoutbreak.wtf

On Sat, Mar 14, 2020 at 2:42 PM ExpDev <notifications@github.com> wrote:

--
Anthony Ettinger
http://anthony.ettinger.name
anthony@ettinger.name
+1 (831) 406-1123

[2020-03-14 22:07] marbysneaker commented on #44
Ok got it. Question for the US locations functions, won't that function give you a higher number since its tracking state locations and counties within the states?

[2020-03-14 22:32] ExpDev07 commented on #44
@marbysneaker technically it shouldn't. Take the state of California, which shows 282, however, then all its counties will show 0. I'm not sure why JSU still have them there when they're not being tracked though.

[2020-03-14 22:34] ExpDev07 commented on #44
@chovy which makes sense since JSU has decided to not track counties anymore and instead just to states.

[2020-03-14 22:36] chovy commented on #44
ahh i see. it had SF yesterday and that was it for california (21). I now
see 282. This kind of sucks. Its not as detailed. I can no longer track my
area.

On Sat, Mar 14, 2020 at 3:35 PM ExpDev <notifications@github.com> wrote:

--
Anthony Ettinger
http://anthony.ettinger.name
anthony@ettinger.name
+1 (831) 406-1123

[2020-03-14 23:17] ExpDev07 commented on #44
It indeed does suck. I don't know why the decision to drop counties was, but I'm sure you can find it over at JSU's repository @chovy

[2020-03-14 23:36] chovy commented on #44
shouldn't we have a multitude of data feeds by now not just JHU?

On Sat, Mar 14, 2020 at 4:17 PM ExpDev <notifications@github.com> wrote:

--
Anthony Ettinger
http://anthony.ettinger.name
anthony@ettinger.name
+1 (831) 406-1123

[2020-03-15 02:14] itsamirrezah opened #45 "I'm using your API"
Hi, Thanks for the API
I'm using your API to build a simple android app.
https://github.com/itsamirrezah/COVID-19

[2020-03-15 02:30] mugetsu commented on #44
"latest" are all set to 0

[2020-03-15 02:35] chovy commented on #44
yup. same here.

On Sat, Mar 14, 2020 at 7:31 PM Randell Quitain <notifications@github.com>
wrote:

--
Anthony Ettinger
http://anthony.ettinger.name
anthony@ettinger.name
+1 (831) 406-1123

[2020-03-15 02:42] altezza04 commented on #44
yes here, all confirmed data is 0, may be the server cached the empty data right at the time when  john hopkins update the data?

[2020-03-15 02:43] chovy commented on #44
it happens a lot. works for a fews, no data for a few hours. repeat.

On Sat, Mar 14, 2020 at 7:42 PM altezza04 <notifications@github.com> wrote:

--
Anthony Ettinger
http://anthony.ettinger.name
anthony@ettinger.name
+1 (831) 406-1123

[2020-03-15 03:12] marbysneaker commented on #44
@ExpDev07  got it, thank you !

[2020-03-15 03:51] ExpDev07 commented on #44
@altezza04 @mugetsu This is due to JSU again setting empty data for latest available (3/14): https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv.

Been reported here: https://github.com/CSSEGISandData/COVID-19/issues/756.

[2020-03-15 11:22] pdobsan opened #46 "date format in history"
Thank you for your software and service.

May I suggest to use the ISO 8601 date format (`yyyy-mm-dd`)  in the key string of `history`.  While parsing the current format not a big deal using the the ISO standard has some benefits. I am sure your current and potential users are from all over the word. Using the ISO format the interpretation  of the response of your service would be easier for every

[2020-03-15 16:16] jianxu305 opened #47 "Where to get the Serious or Critical count?"
For example, in https://www.worldometers.info/coronavirus/, they have the mile case count and serious/critical count.  It's unclear where is it from.  Can that data be added to the JSON object?  Thanks.

[2020-03-15 16:19] Hikmer commented on #44
The base data is super buggy and been causing lots of frustration for many trying to create awareness and model the outbreak.  Its pretty disappointing.

[2020-03-15 16:19] ExpDev07 commented on #47
I plan to add multiple data sources when I have time, but at the moment, there’s only JSU who do not
provide this information :/.  Feel free to submit a PR.

[2020-03-15 16:22] ExpDev07 commented on #46
This is a major breaking change so introducing this at the current endpoints will not be possible. I’m working on a /v2/ where I’m going to do be doing this.

[2020-03-15 16:24] ExpDev07 commented on #44
@Hikmer Unfortunately there’s not much I can do about it besides introducing a different data source (which I’m working on). JSU constantly changes and breaks their data which leads to unexpected errors in the API.

[2020-03-15 16:34] Hikmer commented on #44
Yeah, its the most critical time to get this right, and they aren't doing a good job keeping the data clean and consistent.

[2020-03-15 16:49] RamPrasadMeenavalli commented on #37
I am using this for showing the numbers with an SharePoint webpart - [https://github.com/RamPrasadMeenavalli/react-covid19-tracker](https://github.com/RamPrasadMeenavalli/react-covid19-tracker)

[2020-03-15 17:28] pdobsan commented on #46
On Sun, Mar 15, 2020 at 09:22:17AM -0700, ExpDev wrote:

Sure, doing that for /v2/ is fine. When do you expect /v2/ to be ready?

[2020-03-15 19:58] QYQSDTC opened #48 "No module named "flask_cors" found"
![image](https://user-images.githubusercontent.com/15608306/76709503-30b94b00-66cd-11ea-9ede-03728b7ec2be.png)
When I was trying to run it locally, this error came, I did all the previous steps successfully.

[2020-03-15 20:22] ExpDev07 commented on #48
Have you installed pipenv globally?

After that, you must make sure to be in the pipenv shell when executing the commands. You can enter the shell by typing “pipenv shell” in the project directory, then to install deps, write “pipenv install”.

[2020-03-15 20:28] QYQSDTC commented on #48
Yes, I did that before. After I quit the shell and restart it again, it's working !!

[2020-03-15 20:28] #48 closed

[2020-03-15 22:44] sallu-tech commented on #30
Hi
I am building a website in bootstrap and core php. So I wanted to ask can I use this api in php?

[2020-03-15 22:56] ExpDev07 commented on #30
@sallu-tech

Yes, you certainly can. You have the option of just retrieving the data client-side in JavaScript, or on the server with PHP. I would suggest using PHP if you're planning on doing some extensive calculations with the data. Look up how to make a GET request to an URL and parse the json in your desired language, because that's how you get the data.

The data comes from the [2019 Novel C

[2020-03-15 22:57] #30 closed

[2020-03-15 22:58] #27 closed

[2020-03-15 22:58] #21 closed

[2020-03-15 23:19] kw0006667 opened #49 "I'm using your API"
Thanks for implementing this Web API!
[CoronavirusDashboard](https://github.com/kw0006667/CoronavirusDashboardDemo)

[2020-03-16 03:54] keithloise opened #51 "Gender & Age info"
Would be good if the data has Gender & Age information

[2020-03-16 03:57] ExpDev07 commented on #51
At the moment, the API is restricted to the information JSU provides.

[2020-03-16 07:06] mugetsu opened #52 "Thank you for this API!"
It's really [nice](https://github.com/mugetsu/covid-tracker) API and hopefully you can find a more up-to-date sources better than the current one, thanks @ExpDev07 ❤️

[2020-03-16 12:20] RajPathare opened #53 "Can't get any data from /countries"
Tried hitting this route, couldn't get any data.

[2020-03-16 12:22] eldan-dex opened #54 "Getting results by country"
I'm trying to use the API on an embedded device without enough RAM to hold the entire result and filter it. Is it possible to add an option to only get stats for a specific country or other filtering options?

[2020-03-16 12:30] #53 closed

[2020-03-16 13:24] altezza04 opened #55 "Can the API return a fatten list of data?"
I am using the this API, and it's great! Thank again.
However  is it possible to have  another endpoint of all combined Confirmed, Recovered and Deaths in a single object sort by country, it seem that JSON we got now is getting a bit big now, and country , coordinates, province, info are duplicated, a combined data may save a bit of download time. For example a endpoint like: /all_fattened

{
loca

[2020-03-16 14:59] gribok opened #56 "Add synonym for countrycode DE"
The countrycode `DE`  represents the countryname `Germany`.
A synonym for countryname `Germany` is `Deutschland` (german term)

[2020-03-16 16:35] ExpDev07 commented on #54
I am working on that rn for v2, which will hopefully be done some time today. It is currently not possible without consuming the whole dataset and filtering on your client.

[2020-03-16 16:36] ExpDev07 commented on #55
This is exactly what I’m working on right now for v2! Will hopefully be done some time today.

[2020-03-16 16:38] Sem1084 commented on #55
Maybe add scopes as optional query: /all?scope=recovered%20confirmed%20deaths

[2020-03-16 16:39] ExpDev07 commented on #56
This mobile interface :P.

[2020-03-16 16:40] #56 closed

[2020-03-16 16:41] ExpDev07 commented on #55
@Sem1084 yes, something like that shouldn’t be too hard to implement.

[2020-03-16 19:22] sagarkarira commented on #55
Hey, @ExpDev07 thanks for the API.

I've made this [command line tracker](https://github.com/sagarkarira/coronavirus-tracker-cli) using your API.

I am also exposing flattened JSON of all countries here:
[https://corona-stats.online/?format=json](https://corona-stats.online/?format=json)
if this good enough format for @altezza04 to use.

[2020-03-16 20:28] ufo56 opened #60 "Store data in DB"
Hi

I would like to store this data in e.g influxdb , but i can't figure out how.

Why? Because i would like to draw some graphs with Grafana.
I understand that i can use this https://grafana.com/grafana/plugins/simpod-json-datasource to query that heroku url but it would be nice to store data i think :)

[2020-03-16 20:54] ExpDev07 commented on #60
Yes, that is possible. Just sync the database with the JSON data, like hourly or something. People have done it.

[2020-03-16 23:09] Sem1084 commented on #60
Doesn't JHU update daily?

[2020-03-16 23:13] ExpDev07 commented on #60
@Sem1084 yeah, but you don’t exactly 100% know at what time JHU updates their data, so you’ll be better off just syncing every hour or so. If you want to save more resources, I guess you could do it once every 6 hours as well.

[2020-03-17 05:11] #25 closed

[2020-03-17 07:25] altezza04 commented on #55
Awesome! that's prefect, thanks! @sagarkarira @ExpDev07
btw, that's my site https://chinavirus.live/

[2020-03-17 11:46] assetcorp commented on #54
Yeah, I think this feature would really be helpful. Can't wait for v2.

[2020-03-17 14:09] NatiBerko opened #62 "just a simple question why do I need to install it on my computer ?"
cant I just use the links:
https://coronavirus-tracker-api.herokuapp.com/    all/confirmed/etc' ?
like some kind of web service ?

why In the read me there is the installation part ?

[2020-03-17 14:47] ExpDev07 commented on #62
Two reasons:
- you want to contribute to the source code or modify it; and/or
- you want to host the API yourself for faster speeds, more control, etc.

[2020-03-17 14:51] NatiBerko commented on #62
Thank you for your quick answer ! got it...

[2020-03-17 14:51] #62 closed

[2020-03-17 18:33] pingustar opened #63 "duplicate entries"
china, us, and others have a couple dozen of multiple entries.

[2020-03-17 19:31] ExpDev07 commented on #63
I can not seem to find them, can you give an example of a duplicated entry?

[2020-03-17 20:04] pingustar commented on #63
@ExpDev07

![image](https://user-images.githubusercontent.com/7262066/76896832-dec22200-6892-11ea-98db-a2a6878ef384.png)

does this help?

[2020-03-17 20:07] ExpDev07 commented on #63
Well, yes. Remember that a location doesn't necessarily represent each country, Multiple locations can have the same "country", what differs per location is the "province". For example:

[code]

[2020-03-17 20:14] pingustar commented on #63
ah I see. Thank you.

So to get the accumulated amounts I have to sum up the 'latest' and 'history' value I guess, or is there an enpoint I am missing?

[2020-03-17 20:19] ExpDev07 commented on #63
@pingustar Currently, if you want to get the current/latest confirmed cases for a the United States, you can do something like this:

[code]

[2020-03-17 20:20] pingustar commented on #63
thank you, appreciate it :)

[2020-03-17 20:21] ExpDev07 commented on #63
Closing. Feel free to open it again or create a new issue if you have any more questions :).

[2020-03-17 20:21] #63 closed

[2020-03-17 22:49] sebamed commented on #54
Any news on this topic?

[2020-03-17 23:03] ExpDev07 commented on #54
@sebamed I have indeed implemented this in /v2/ now, there are just some final adjustments and design decisions.

[2020-03-17 23:16] gribok opened #64 "Add testcases for baseline testing app"
Let's add some testcases for unittesting of help function, like `date.is_date` and integration testcases for api endpoints, like `/deaths`.

I will try to provide a testsuite for testing of baseline to avoid breaking changes.

Next step could be to setup a `Travis CI` chain for auto-checking of every PR.
Let me know, if I can help.

[2020-03-17 23:18] ExpDev07 commented on #64
I will be pushing /v2/ soon which introduces new core code and features. Once that's good I'd love your help to start implementing test cases 👍

[2020-03-17 23:26] gribok commented on #64
Pushed my changes via PR. Check it out and let me know. 👍

[2020-03-18 02:31] #42 closed

[2020-03-18 02:31] #54 closed

[2020-03-18 02:31] #55 closed

[2020-03-18 02:39] ExpDev07 commented on #9
You can setup Gzip compression if you host the API yourself :). I'm running free heroku :/.

[2020-03-18 02:39] #9 closed

[2020-03-18 02:39] #44 closed

[2020-03-18 02:40] ExpDev07 commented on #46
Introduced in /v2/. See https://github.com/ExpDev07/coronavirus-tracker-api/blob/master/README.md for examples and documentation.

[2020-03-18 02:40] #46 closed

[2020-03-18 02:51] #60 closed

[2020-03-18 07:50] luizhfraraujo opened #70 "I'm using your api"
Hi! Thanks for your API.
Im using to build a Ionic app.
site: https://ionic-coronavirus-tracker.netlify.com/
Repo: https://github.com/luizhfraraujo/ionic-coronavirus-tracker

[2020-03-18 07:58] martiL opened #71 "Add population data"
Great Job

It would be nice if there is an endpoint to get the population data of all provinces. So It's easy to show the infection rate (cases/population). I use your API for my dashboard -> https://corona-data.netlify.com/

I found a CSV file, maybe you can include it in your API ( I think the last year with a population greater than 0.0 would be good enough -> maybe merge it with the JHU CCSE)?

[2020-03-18 09:27] altezza04 opened #72 "World Timeline"
With V2 endpoint now can get per country timeline, which is very good, thanks! but is it possible to get timeline for the World? It will be very useful for plotting a World graph in frontend, thanks!

[2020-03-18 11:27] Bost opened #73 "Adding continent codes?"
**If** there's a need I could implement 3-letter continent codes:

[code]

The main complications are:
- I couldn't find any appropriate ISO norm so the codes are defined by [me](https://en.wikipedia.org/wiki/Inveniam_viam):
[code]
- How to assign countries on multiple continents. E.g. Russia, Turkey, etc are in Asia or Europe?
- The cruise ships - I'd assign them to the `default-continent-code` i

[2020-03-18 11:34] alex644715 opened #74 "Is there possible to provide the timelines for countries?"
Thank you for your works. Now I can get the timeline for each location, but it's not convenient way that gather all the info to analysis the timelines of each country. So can you provide an API for timelines of each country?

[2020-03-18 14:01] pingustar commented on #63
@ExpDev07 do you have by any chance another one of those magic lines of code for me.

I am trying to accumulate the history data for each day to create statistics on how each country compares in terms of spread per day

[2020-03-18 14:07] mploux opened #75 "1 day lag with JHU CSSE Data"
Hello !

Thanks a lot for this API, it is exactly what I was looking for.
It seems that there is a lot of lag and the data is always one day behind.
Is there a way to fix it and be up to date ?

Thanks again !

[2020-03-18 14:42] ExpDev07 commented on #73
That would be useful yes. I guess with the multiple continents, we just have to bite the bullet and assign the continent that makes the most sense (??). Another idea would be to return a comma-separated string of continents, eg: “EUR, ASI”.

[2020-03-18 16:37] ExpDev07 commented on #63
On my phone rn, it’s gonna be a bit more complicated, but it’s just a matter of adding all the timelines of your country’s locations together.

[2020-03-18 16:40] ExpDev07 commented on #70
Really good job! Looks minimal and clean, and is fast.

[2020-03-18 16:43] ExpDev07 commented on #72
Agreed.

[2020-03-18 16:49] ExpDev07 commented on #75
It is up to date with a potential one hour delay with JHU CSSE’s timeline CSV file.

[2020-03-18 19:40] Bost commented on #73
I've got something for you. It's **all** countries, not just those hit by the virus. So basically you can download the json files, commit them in your repo as static content... and somebody can start programming against this API from this commit on. And I'll just send you updates when something gets fixed, updated etc.

These are just my preliminary thoughts, I need some [hammock time](https://mel

[2020-03-18 19:58] ExpDev07 commented on #74
With some magic, you can easily achieve this through some magic. First, fetch all the locations for your desired country with timelines added, e.g U.S.A:
[code]

[2020-03-18 20:12] ExpDev07 commented on #73
Seems like an OK solution to me 👍 .

You are indeed correct.

Probably. Heroku was the best and easiest free option I could find (not making any $$$ from this project).

[2020-03-18 22:37] donpdonp opened #77 "Add record date to data"
Looking at  CSSEGISandData/COVID-19  and it looks like date-named csv files. It would be helpful if the json returned from the heroku app included the date of the file used to create the json. Right now its unattributed and if someone caches this data, its hard to say if its up to date or not. thanks!

Also, I'm using your api to feed an irc chat bot that announces when the case count increases fo

[2020-03-18 22:44] ExpDev07 commented on #77
At the moment, we're getting *all* our data from just these three files: https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series. The last updated in that case would be the most recent date in every location's timeseries.

[2020-03-18 22:48] donpdonp commented on #77
sigh, we just dont know what the date of every location's last update is. what about simply putting the date of fetching the csv? that'd be something. i feel its important because these json files always live longer than one expects and if im doing a simple 'curl heroku/latest.json' im going to want to know the date *of that data file*, which is currently unknown.

the schema already has {location

[2020-03-18 23:10] ExpDev07 commented on #77
That's what I was thinking of working on right now.

[2020-03-19 00:05] marbysneaker commented on #75
having this same issue, it looks like world's latest confirms keeps pulling 197145 the whole day while John Hopkins data have updated several times and are now up to 214894.

[2020-03-19 00:56] alihaider334 opened #80 "Please Add "todays cases", "todays death" for every location. and also "critical" & "Active""

[2020-03-19 01:52] Bost commented on #75
@mploux The data stays in the cache for max 3600 seconds = 1 hour:
https://github.com/ExpDev07/coronavirus-tracker-api/blob/75eaed76fc26be64fbffe6999be24208c3665b8d/app/services/location/jhu.py#L30
https://github.com/ExpDev07/coronavirus-tracker-api/blob/75eaed76fc26be64fbffe6999be24208c3665b8d/app/services/location/jhu.py#L96

@marbysneaker No it works fine:
[code]
See for yourself here https://t

[2020-03-19 03:09] Bost commented on #73
Ups I have a bug there. `Worldwide` and `ZZ` need to be removed. It is a union of countries. I will fix it.

[2020-03-19 03:36] alex644715 commented on #74
That's cool, thank you~

[2020-03-19 04:04] ExpDev07 commented on #80
The today statistics are fairly easy to add, however, critical and actives are currently not supported by our data source so for that we’ll have to add an alternative one.

[2020-03-19 04:05] #75 closed

[2020-03-19 04:09] ExpDev07 commented on #74
It is essentially what I would do if I were to add the info. Maybe in the future there‘ll be a /countries endpoint which will do this for you, however, at the current moment I just wanna focus on fine-graining the API.

[2020-03-19 05:57] martiL commented on #80
It would be nice if you would add the today statistics 🙏 (today cases, today death, today recovered)

[2020-03-19 07:37] gribok commented on #64
I am gonna to close the isse. Testsuite introduced.

[2020-03-19 07:37] #64 closed

[2020-03-19 08:17] alex644715 commented on #74
I found the loading speed of US is too slow......

[2020-03-19 10:37] mploux commented on #75
Hello,
The API is in fact up to date with JHU CSSE’s timeline CSV files, but it has one day lag.
Look here: https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6
You can clearly see more up to date data.
Any ideas on how we could get up to date data ?

Thanks

[2020-03-19 11:15] gribok opened #83 "Add testcase for root api endpoint (/)"
Add testcase for root api endpoint (/).

I will create it.

[2020-03-19 11:17] gribok commented on #83
PR created.

[2020-03-19 11:20] gribok opened #85 "Add License"
It makes sense to add open source license to project.
GitHub provides a option a add license automatically.

[2020-03-19 15:16] MM-coder opened #88 "Created something with your api"
https://github.com/MM-coder/coronavirus-wallpaper

Created an application that sets your wallpaper with the latest coronavirus stats from your API

[2020-03-19 15:27] ExpDev07 commented on #74
I am running one free instance of Heroku which explains why it’s slow sometimes, the speed will improve if you host your own version.

[2020-03-19 15:28] ExpDev07 commented on #75
By switching data source.

[2020-03-19 15:29] #83 closed

[2020-03-19 17:21] JKSenthil commented on #22
I have created an api for county data: https://github.com/JKSenthil/coronavirus-county-api

Interestingly, both my and @ExpDev07 api use Python/Flask. Perhaps I can merge a county endpoint to this project? Shall I make a pull request?

[2020-03-19 17:51] ExpDev07 commented on #22
@JKSenthil There should be some discussions surrounding this and how it should be implemented. There is a basis for adding multiple datasources (see https://github.com/ExpDev07/coronavirus-tracker-api/tree/master/app/services/location). Then I'm thinking we'll add a query param to ``/v2/locations`` which allows you to define your data-source of choice. E.g: ``/v2/locations?source=jhu`` would mean

[2020-03-19 18:09] pdobsan opened #89 "`timelines` query argument consistency"
It is great that the `/locations` query can be augmented with a `timelines=true` parameter. It defaults to false, quite rightly, otherwise the server can easily be overwhelmed by unnecessary load. It is reasonable to assume  that a significant part of requests are interested only in the `latest` numbers.

However the API has a slight inconsistency when we compare '/locations' and '/locations/id' r

[2020-03-19 18:59] JKSenthil commented on #22
That sounds good. I think that `/v2/locations` can default to the jhu source, and `/v2/locations?source=1point3acres` can be used to access the US county data.

[2020-03-19 19:08] #89 closed

[2020-03-19 19:33] ExpDev07 commented on #88
Nice work! Using it myself :).

[2020-03-19 19:59] pdobsan commented on #89
On Thu, Mar 19, 2020 at 12:08:29PM -0700, ExpDev wrote:

Great, thank you.

[2020-03-19 20:14] gribok opened #91 "Add __init__.py to all modules to be pylint compatible"
Add __init__.py to all modules to be pylint compatible.

I will create PR.

[2020-03-19 20:16] gribok opened #92 "Add __version__ for versioning of package"
Follow PEP396 and add __version__ to module for version.

I will create PR

[2020-03-19 20:22] gribok opened #93 "Separate different API endpoint in Blueprints"
Separate different API endpoints for v1 and v2 in Blueprints for improved scaling of application.
See https://flask.palletsprojects.com/en/1.0.x/api/#flask.Blueprint

I will create PR

[2020-03-19 20:26] gribok opened #94 "Add Makefile for automation of common steps"
Add Makefile for automation of common steps, like test and linter

I will create PR.

[2020-03-19 20:37] #91 closed

[2020-03-19 20:37] #92 closed

[2020-03-19 20:37] #93 closed

[2020-03-19 20:37] #94 closed

[2020-03-19 21:39] ExpDev07 opened #98 "Storing data in a data in database"
Right now the data is just stored in cache. Is it perhaps better to sync the data to an actual MySQL database? It would allow for fast querying.

[2020-03-19 22:39] gribok opened #99 "Integration of Travis CI for automatically testing"
Let's integrate the project in Travis CI for testing and linint.
I have already tested it in my fork.
See https://travis-ci.com/github/gribok/coronavirus-tracker-api/builds/154176948 for an example

On every PR, Travis-CI will check automatically the change and feedback it into the PR.

I will push the baseline travis-file per PR.

But you need to activate it in Travis (very easy), because I am no

[2020-03-19 22:49] #99 closed

[2020-03-20 01:57] rohandoesjava commented on #70
Nice!

[2020-03-20 08:06] adiglase opened #104 "Locations with timeline is really slow"
Can we searching for timeline just for a country? So, timelines with country code

[2020-03-20 08:14] shaunlawrencecarland opened #105 "Allow more parameters beyond 2 letter country code"
Would it be possible to expand the API to take in more than a 2 letter country code?  Being able to put in a 3 letter country code would be great for me, or being able to just put in the name of the country.

[2020-03-20 10:17] MM-coder commented on #88
Cheers!

[2020-03-20 10:18] MM-coder commented on #85
For something like this I'd suggest a simple MIT license
If you want to check out a few more I'd suggest you go to https://choosealicense.com/

[2020-03-20 10:26] MM-coder commented on #85
Check #107

[2020-03-20 10:27] mg0716 opened #108 "Add United States aggregate stats"
Searching through the data, I was unable to find the aggregate stats for the U.S. Would it be possible to collect all states together as one, in addition to individually?

[2020-03-20 11:50] TGamingStudio opened #109 "United Kingdom (GB) isn't updated"
https://coronavirus-tracker-api.herokuapp.com/v2/locations?country_code=gb
Returns `"latest":{"confirmed":10,"deaths":0,"recovered":2}`

[2020-03-20 13:06] rohandoesjava opened #110 "Using your API!"
Made a windows forms app in c# using your API!
https://github.com/rohandoesjava/corona-info

[2020-03-20 15:20] martiL opened #111 "Nice tool to get corona data"
A scraper that pulls COVID-19 Coronavirus data scraped from government and curated data sources.

see here -> https://github.com/lazd/coronadatascraper/

[2020-03-20 16:40] ExpDev07 commented on #104
Not sure what you mean, are you talking about /v2/locations?country_code=US&timelines=1?

[2020-03-20 16:41] ExpDev07 commented on #105
The name of the country I can do, however, ATM, there’s no support for 3-letter country codes.

[2020-03-20 16:59] adiglase commented on #104
Ohh.. I didnt know its exist. But still really slow

[2020-03-20 18:23] ExpDev07 commented on #104
Well, yes, it's slow because of the large amount of data you get when retrieving with timelines.

When I'm hitting the endpoints right now:
``https://coronavirus-tracker-api.herokuapp.com/v2/locations?country_code=US`` (200ms)
``https://coronavirus-tracker-api.herokuapp.com/v2/locations?country_code=US&timelines=1`` (1200ms)

Ideally you shouldn't be grabbing all timelines at the same time, but ra

[2020-03-20 19:18] sagarkarira opened #113 "US data returning recovered as 0."
All recovered key have value as 0.
`https://coronavirus-tracker-api.herokuapp.com/v2/locations?country_code=US`

[2020-03-20 19:26] ExpDev07 commented on #113
Hello, our data source is showing 0 on all U.S. states for the latest date on recoveries despite having positive numbers on previous dates (https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv#L100-L155). Not sure what the reason is, but it's expected to be fixed soon.

[2020-03-20 19:28] rohandoesjava commented on #88
You should add it so that it displays the time at which the information was updated, that would be a nice feature.

[2020-03-20 19:36] sagarkarira commented on #113
@ExpDev07 Problem with JHU data is that they upload once per day. The cases are rising so fast now that even an hour is creating a big difference in number.  Were you able to find any other realtime source of data?

This api looks promising: https://github.com/NovelCOVID/API

[2020-03-20 19:46] MM-coder commented on #88
Feel free to leave that as an issue on the repo

[2020-03-20 20:16] Bost commented on #73
And I just found out we're rather screwed. In contrary to what I believed, my source - the [List_of_sovereign_states_and_dependent_territories_by_continent_(data_file)
](https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_by_continent_(data_file)) really assigns following countries to multiple continents:

[code]
That's a show stopper for the moment, bloody hell :-(

[2020-03-20 20:33] shaunlawrencecarland commented on #105
@ExpDev07 thanks so much!

[2020-03-21 05:46] Benjozork opened #117 "Set a caching header by default"
Just a suggestion : Since the data is only refreshed every hour, it would be perfectly safe to set

[code]
in every response. It would reduce the strain on your app.

[2020-03-21 05:48] ExpDev07 commented on #117
Thanks! Will definitively check this out.

[2020-03-21 07:17] #77 closed

[2020-03-21 07:22] ExpDev07 commented on #109
It returns multiple locations within GB. For example, https://coronavirus-tracker-api.herokuapp.com/v2/locations/2 shows 3983, 177, and 65. You need to sum them all together if you want the latest of the country, Great Britain.

[2020-03-21 07:22] #109 closed

[2020-03-21 08:24] itsksaurabh opened #120 "golang API Wrappers"
go-corona is a Golang client library for accessing global coronavirus (COVID-19, SARS-CoV-2) outbreak data.
Github: https://github.com/itsksaurabh/go-corona

[2020-03-21 08:46] #120 closed

[2020-03-21 13:38] mugetsu commented on #52
[Updated API and UI](https://covid-worldwide.herokuapp.com/) at the same time <3

[2020-03-21 13:52] TGamingStudio commented on #109
Thank you, this fixes that issue, I haven't noticed that

[2020-03-21 15:00] Lopez-ivan opened #124 "About differences between repository and John Hopking Data"
Hey! Good job with this API.

Do anyone knows why the lastest info (Confirmated) in the repository is different than the info shown in the John Hopkins CSSE app? The information comes from the same place, right?

Examples: Today this API shows that Argentina, Chile, and Brazil have 128, 434 and 793 confirmed cases while in the CSSE shows 158, 537 and 977.

[2020-03-21 15:04] SaiBalaji22 opened #125 "Created an app using your API"
Thanks for your API   ❤
Iam a beginner in iOS development
I made an iOS app using your API which show the latest data and also represent the locations in map using MapKit
Your API helped me to understand better about JSON parsing in Swift

repolink: https://github.com/SaiBalaji22/Corona-Tracker-iOS

[2020-03-21 15:16] Turreted commented on #108
I don't know if this properly answers your question, but I've added an endpoint so that users can search for aggregate data by country. #126

[2020-03-21 16:25] ExpDev07 commented on #124
You would think so, but they actually don’t. I believe the CSV files are generated from the dashboard and not wise versa, and it’s done once a day at some time stamp.

[2020-03-21 17:52] yachtSamba opened #129 "See country total instead of province."
I don't know if I'm just missing it, but I can't seem to find a query parameter that returns the latest cases per country, instead of per province, as is currently the case. Is the only possibility at the moment to go through each province belonging to a country and to add the total cases together?

Thanks

[2020-03-21 18:11] ExpDev07 commented on #129
There is a PR open right now addressing this (https://github.com/ExpDev07/coronavirus-tracker-api/pull/122). You can do it yourself for now though. Simply get your country (e.g U.S: ``/v2/locations?country_code=US``, then sum the latest of all the locations returned together (aggregation). That'll yield your result. It's a really simple process and like I said, once the PR is merged, the API will

[2020-03-21 18:18] yachtSamba commented on #129
Thanks, that's what I thought, and that's what I've been doing :).  Any idea when the PR will merged?

[2020-03-21 18:20] ExpDev07 commented on #129
@yachtSamba depends when the guy gets back to me. If not, I'll just add it myself.

[2020-03-21 18:38] yachtSamba commented on #129
Ok thanks

[2020-03-21 19:47] Kilo59 opened #130 "Consider switching (from Flask) to ASGI framework"
Have you considered switching to one of the newer ASGI based web frameworks?

I would like to recommend [FastAPI](https://fastapi.tiangolo.com/)

Among other things, I believe this project would greatly benefit from these features.

1. [Automatic Swagger/OpenAPI API documentation tools](https://fastapi.tiangolo.com/#interactive-api-docs) (and [ReDoc](https://github.com/Redocly/redoc))
2. [Handle m

[2020-03-21 19:49] ExpDev07 commented on #130
Looks interesting.

[2020-03-21 19:53] #22 closed

[2020-03-21 20:14] #124 closed

[2020-03-21 20:17] #85 closed

[2020-03-21 20:21] #108 closed

[2020-03-21 20:21] #129 closed

[2020-03-21 20:43] #104 closed

[2020-03-21 20:46] ExpDev07 commented on #105
Possible through https://github.com/ExpDev07/coronavirus-tracker-api/pull/122. You can now filter by any field, e.g filtering county with CSBS source: ``https://coronavirus-tracker-api.herokuapp.com/v2/locations?source=csbs&county=Montgomery``.

[2020-03-21 20:46] #105 closed

[2020-03-21 21:45] yachtSamba commented on #129
Has it been added, seeing you closed the issue?  I can't find the query parameter.

[2020-03-21 21:47] ExpDev07 commented on #129
Latest for U.S: ``https://coronavirus-tracker-api.herokuapp.com/v2/locations?country_code=US``, then see the ``latest`` top-level JSON object.

[2020-03-21 21:54] yachtSamba commented on #129
Oh ok thank you. I wasn't sure if that was right as the numbers were significantly lower than on other sources, but on #113 I see that it's because JHU only update daily. Thank you.

[2020-03-21 21:56] ExpDev07 commented on #129
You can try an alternative source like ``/v2/locations?country_code=US&source=csbs`` (from https://www.csbs.org/information-covid-19-coronavirus), but unfortunately, they don't provide recoveries at all.

[2020-03-21 21:59] yachtSamba commented on #129
Thank you, but they don't seem to provide data for countries other than the US, so that's also a non-starter for me :). I love what you've made though!

[2020-03-21 22:01] ExpDev07 commented on #129
Planning to add more datasources.

[2020-03-21 22:56] Kilo59 commented on #98
From what I have seen you guys talking about on other issues it seems like the format of the data is not totally stable.
If that's the case I wouldn't it make more sense to adopt a [NoSQL database](https://aws.amazon.com/nosql/) over a [RDBMS](https://www.codecademy.com/articles/what-is-rdbms-sql)

[2020-03-21 22:58] ExpDev07 commented on #98
Yes, that would probably be better. MongoDB or alike.

[2020-03-22 00:11] Kilo59 commented on #130
![image](https://user-images.githubusercontent.com/13108583/77239328-12ad8800-6bb0-11ea-963a-3fadac25cd6c.png)

[2020-03-22 00:12] ifndev opened #136 "Confirmed and recovered cases = 0 for no reason"
The number of confirmed and recovered cases are returning 0.

For example:

`"latest":{"confirmed":0,"deaths":450,"recovered":0}`

Same problem for every country i tested, and for world statistics also... wasn't a problem an hour ago.
Is it just me ?

EDIT: Seems to be related to the alst update (`2020-03-22T00:05:34.338735Z`)

[2020-03-22 00:15] ifndev commented on #136
seems related to #113

[2020-03-22 00:16] LTapsy commented on #136
Were also having the same problem. we currently using your data. please let us know how we can help.

[2020-03-22 00:18] Benjozork commented on #136
Can confirm

![image](https://user-images.githubusercontent.com/4503241/77239428-feb65600-6bb0-11ea-9e90-4412e7802593.png)

Let me know if you need any help !

[2020-03-22 00:18] Kilo59 commented on #98
Happy to help with this as well.

[2020-03-22 00:24] ExpDev07 commented on #136
It’s JHU adding 0 again to their latest update. Give it a few minutes and I’ll restart the server.

[2020-03-22 00:25] ExpDev07 commented on #130
Looks nice!

[2020-03-22 00:30] tulsi-prasad commented on #136
Yes, the data almost vanished totally. Thanks in advance for the fix, counting on it.

[2020-03-22 00:39] Benjozork commented on #136
JHU is becoming pretty unreliable with their data ...

[2020-03-22 00:43] ExpDev07 commented on #136
Unfortunately, there are a few issues that always arise.

[2020-03-22 01:12] Benjozork commented on #136
I can confirmed the issue is now fixed for me.

[2020-03-22 01:20] #136 closed

[2020-03-22 01:30] LTapsy commented on #136
Thank you!

[2020-03-22 04:41] jonmancia commented on #136
Unfortunately, it's back again. Any fix I could do on my end?

[2020-03-22 04:44] ExpDev07 commented on #136
@jonmancia JHU has been showing U.S. recoveries at 0 for a day now (https://github.com/ExpDev07/coronavirus-tracker-api/issues/113). An issue was created about it here: https://github.com/CSSEGISandData/COVID-19/issues/1208.

[2020-03-22 13:34] gianpaolof opened #139 "help needed"
hi
I can't seem to be able to call:
/v2/locations/:id
it always returns 404
can you give me an example of a request with full path?

Thanks

[2020-03-22 13:41] itsamirrezah commented on #139
Hi @gianpaolof

for example you can test this request:
https://coronavirus-tracker-api.herokuapp.com/v2/locations/39

[2020-03-22 13:43] Kilo59 commented on #130
For the initial switchover I'm going to attempt to keep the exact same shape of `v2`. As such I've created data models (for use as [Response Models](https://fastapi.tiangolo.com/tutorial/response-model/)) based on the existing `Location`, `TimelinedLocation`, `Timeline` classes as well as the shape of the currently returned JSON.

Here's some more details about
https://fastapi.tiangolo.com/tutoria

[2020-03-22 13:50] gianpaolof commented on #139
oh, i was keep on trying with the ":"
thanks

[2020-03-22 13:50] #139 closed

[2020-03-22 16:01] paolinic03 commented on #136
JHU needs to take their sources down from public use until they are fixed. They touted being #1 on github a week ago but don’t want to walk the walk.

[2020-03-22 17:55] markus-bergelt opened #140 "Using your API for Motion Graphics"
Just want to say thanks for this api. We're using it in GEOlayers. A tool to animate Maps in After Effects. Your API allows an easy workflow for our users to create visualizations of current COVID19 cases or even animated timelines. https://vimeo.com/399625603
Thanks!

[2020-03-22 18:15] ExpDev07 commented on #130
Great job

[2020-03-22 18:42] 4gray opened #141 "I'm using your API"
Hello, thank you for the API!
I played around with TreeView API in VSCode and created a simple extension based on your API:

Extension: https://marketplace.visualstudio.com/items?itemName=4gray.vsc-covid-stats
Code: https://github.com/4gray/vsc-covid-stats

[2020-03-22 20:35] codedawi opened #142 "We are using this API for COVID-19 Badges"
![Cases](https://covid19-badges.herokuapp.com/confirmed) ![Deaths](https://covid19-badges.herokuapp.com/deaths) ![Recovered](https://covid19-badges.herokuapp.com/recovered)

Using this data to populate the count information for `cases`, `deaths`, and `recovered` badges so people can easily see the most up to data from readme.md of all these great repos working on `COVID-19`.

url: `https://covid19

[2020-03-22 20:42] mustaphee commented on #130
Although I feel it might not really be needed to switch Framework, however,  if you decide to use FastAPI, I would gladly assist to with it.

[2020-03-22 20:55] ExpDev07 commented on #142
Would be awesome if you can open a PR request and add these to our README 😎  (feel free to have them link to your github repo)!

[2020-03-22 21:00] ExpDev07 commented on #142
Nvm, I opened one :) https://github.com/ExpDev07/coronavirus-tracker-api/pull/144. Thanks for this!

[2020-03-22 21:17] ExpDev07 commented on #130
@mustaphee the code really isn't *that* advanced yet, so a framework switch wouldn't be the biggest deal given it provides benefits, which it looks like it very much does. We can just see how it turns out, if I'm happy with it and it's compatible with the current endpoints (so not to break apps using it), I'll merge.

[2020-03-22 22:57] Turreted commented on #71
I'd like to start working on this, just a few questions before I start:

a) would you like this to be a separate endpoint, or an extension of the locations endpoint?
b) should this be on a per-country basis, or should I do it in terms of each district provided by Johns Hopkins?
c) should users be able to query for the population in a district or just the infections per capita?

[2020-03-22 23:05] ExpDev07 commented on #71
No, it should be apart of the ``Location`` object. Possibly something like:
[code]

Not a 100% sure about this. The easiest would just to provide population at country-level, but people will ask for province and possibly county-level too.

Not required.

[2020-03-23 00:53] carmelag opened #147 "Documentation enhancement"
The documentation of the API can be enhanced by improving the structure and readability of the README document.
 Some more information about the parameters, the values to be used to set them and the responses that the API provides can be added.

[2020-03-23 01:19] carmelag commented on #147
I'm working on some documentation changes on the branch **api-docs-changes**. Could anyone of the owners/collaborators assign this issue to me, please?
Thanks in advance for your time and help!

[2020-03-23 02:32] jdeweese1 opened #148 "Add API endpoint to see available sources to choose from."
While working on the Python [wrapper](https://github.com/Kamaropoulos/COVID19Py/issues/7) for this API, we were updating the code to be able to decide which service to pull data from (jhu,csbs, etc) we decided it would be advantageous if we could query an url endpoint to get a list of valid sources.

see [COVID19Py](https://github.com/Kamaropoulos/COVID19Py/issues/7) for more details

(on mobile s

[2020-03-23 02:52] ExpDev07 commented on #148
https://github.com/ExpDev07/coronavirus-tracker-api/pull/149

[2020-03-23 03:30] #148 closed

[2020-03-23 03:31] ExpDev07 commented on #148
Available sources can now be found at https://coronavirus-tracker-api.herokuapp.com/v2/sources.

[2020-03-23 08:11] martiL commented on #111
In the course of the hackathon "https://wirvsvirushackathon.org/ " we are implementing a RESTful Webservice which scrapes data from various places. We have developed a landing page to make it easier for many interested people to implement a scraper or/and use our API

@ExpDev07 Maybe we can join forces?

check it out:
https://corona-api-landingpage.netlify.com/

[2020-03-23 09:38] Kamaropoulos commented on #148
Thanks a lot @ExpDev07, you're awesome!

[2020-03-23 18:18] ExpDev07 commented on #111
@martiL Surely! What do you have in mind?

[2020-03-23 21:10] #147 closed

[2020-03-23 21:28] mmilosanovic opened #152 "US Recovery data missing"
It seems CSSEGISandData started (on 3/18/20) providing the recovery cases data at high level only (country = US and province = US). This data seems to be missing on the API response.

[2020-03-23 21:35] ExpDev07 commented on #152
Duplicate of https://github.com/ExpDev07/coronavirus-tracker-api/issues/113. I was hoping JHU would fix this soon. Currently working on adding additional sources.

[2020-03-24 02:30] TheAleLoco2 opened #154 "Hello! Thanks for creating this useful API!"
I create an app to show statistics and I will improve it over time. The link is https://play.google.com/store/apps/details?id=com.cthulhu.covidtracker

[2020-03-24 03:36] tctree333 opened #155 "JHU data won't be updated"
Hello!
I'm using your API to fetch data for a discord bot, and as I was looking through the code, I noticed that the source for JHU data isn't going to be updated anymore per a recent update.
(https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series)

You may want to update the code to use the new files.

[2020-03-24 03:42] chovy commented on #155
Yes, please do update. Nice catch. I rely heavily on this API

[2020-03-24 03:44] ExpDev07 commented on #155
I will be updating it. Seems like they're not going to be supporting recoveries anymore either.

[2020-03-24 04:01] chovy commented on #155
How is NYT getting that USA map updated with county data?

[2020-03-24 04:03] ExpDev07 commented on #155
@chovy could be an internal source. If you want county data, you can use the CSBS source recently added at https://coronavirus-tracker-api.herokuapp.com/v2/locations?source=csbs.

[2020-03-24 04:04] chovy commented on #155
Is this county data only for USA?

[2020-03-24 04:06] ExpDev07 commented on #155
Yes, CSBS is U.S. specifically. @chovy

[2020-03-24 04:08] chovy commented on #155
ALso I was using /all before. WHich endpint should i use now?

[2020-03-24 04:08] chovy commented on #155
https://coronavirus-tracker-api.herokuapp.com/v2/locations is this same as /all ?

[2020-03-24 04:10] ExpDev07 commented on #155
@chovy Yes, you should use the locations endpoint. It's the same as /all, just the confirmed and deaths are in the same location object and not in different.

[2020-03-24 04:11] chovy commented on #155
Sorry I don't understand.

[2020-03-24 04:12] ExpDev07 commented on #155
Look in the README and you'll see example responses :) @chovy

[2020-03-24 04:42] chovy commented on #155
Awesome thanks. updated my map! https://virusoutbreak.wtf

[2020-03-24 04:54] #155 closed

[2020-03-24 05:01] ExpDev07 commented on #155
JHU source updated. See details here: https://github.com/ExpDev07/coronavirus-tracker-api/pull/156. Also, @chovy, it would really be appreciated but don't in any way feel obligated to :). My BTC address is ``bc1qy6e8d9laqnuwm5vyd87y47z0cu9vw76cj4ejd3``.

[2020-03-24 05:17] uponatime2019 opened #157 "US Locations Missing"
https://coronavirus-tracker-api.herokuapp.com/v2/locations?country_code=US

I just check above API, last night all fine, it show latest and latest by locations. But now just have a location, no addional data.

`{"latest":{"confirmed":43847,"deaths":557,"recovered":0},"locations":[{"coordinates":{"latitude":"37.0902","longitude":"-95.7129"},"country":"US","country_code":"US","id":225,"last_updated"

[2020-03-24 05:24] ExpDev07 commented on #157
Unfortunately, our main data provider, JHU, has decided to track U.S.A. on country-level, as well as with many other nations as well. This is probably due to overwhelming work of keeping up with every state/province as well.

We provide an additional data-source if you're looking for U.S. specific locations. The data is provided by CSBS (https://www.csbs.org/information-covid-19-coronavirus). For

[2020-03-24 05:24] Cyrusrome22 opened #158 "Incorrect recovered latest data."
I have noticed that there is a mismatch for some countries.

https://coronavirus-tracker-api.herokuapp.com/v2/locations

For example:
**Maldives**
{"coordinates":{"latitude":"3.2028","longitude":"73.2207"},"country":"Maldives","country_code":"MV","id":154,"last_updated":"2020-03-24T05:07:57.390150Z","latest":{**"confirmed":13,"**deaths":0,**"recovered":59879**},"province":""}

**Hubei**
{"coordina

[2020-03-24 05:41] ExpDev07 commented on #158
You are indeed correct. Looks like we have to drop support for recoveries in /v2/ for JHU.

[2020-03-24 05:44] ExpDev07 commented on #158
https://github.com/ExpDev07/coronavirus-tracker-api/pull/156

[2020-03-24 05:44] #158 closed

[2020-03-24 05:49] #157 closed

[2020-03-24 06:19] davidsommer opened #160 "Thanks a lot for providing this API!"
I created a small Chart that consumes your API, you can find the code here: https://github.com/davidsommer/coronaCharts and the displayed data here https://davidsommer.github.io/coronaCharts/

[2020-03-24 06:23] ExpDev07 commented on #160
Nice work!

[2020-03-24 06:44] jonmancia commented on #160
@ExpDev07 Do we get access to the previous version of the api? The recent changes broke my app :(

[2020-03-24 06:57] ExpDev07 commented on #160
@jonmancia There shouldn't be any breaking changes except from the fact that recoveries return 0 and there's no timeline available for it? These endpoints are still available:

* https://coronavirus-tracker-api.herokuapp.com/all
* https://coronavirus-tracker-api.herokuapp.com/confirmed
* https://coronavirus-tracker-api.herokuapp.com/deaths
* https://coronavirus-tracker-api.herokuapp.com/recovered

[2020-03-24 07:01] jonmancia commented on #160
The problem I had was accessing the states/provinces for a given country. But I noticed appending `?source=csbs` returns locations again

[2020-03-24 07:03] mugetsu opened #161 "Recovered values all set to 0"

[2020-03-24 07:09] ExpDev07 commented on #160
Ohh yeah, you can’t go back to that version no... unfortunately. JHU changed their directory structure and decided to leave out states with their new files. @jonmancia

[2020-03-24 07:10] jonmancia commented on #160
That is really sad! I have to change my entire app now. Thanks for your swift response regardless

[2020-03-24 07:10] ExpDev07 commented on #161
Our main data provided (JHU) has decided to drop support for recovery data, hence, the API will show 0 until an alternative source is added for world data.

[2020-03-24 07:13] ExpDev07 commented on #160
@jonmancia it is. Despite being regarded as one of the top sources for this outbreak, JHU decides to pull unexpected changes like these in the middle of it.

[2020-03-24 07:30] jaime-chur commented on #161
Will this be fixed soon? :(

[2020-03-24 07:35] ExpDev07 commented on #161
@jaime-chur hopefully !

[2020-03-24 08:08] dinesh-varyani commented on #161
"Our main data provided (JHU) has decided to drop support for recovery data" ... Where its mentioned ?
I can see JHU still has latest data (published few hours back) with recovered cases.

[2020-03-24 08:21] ExpDev07 commented on #161
@dinesh-varyani

(from https://github.com/CSSEGISandData/COVID-19/issues/1250).

[2020-03-24 10:44] brunobord opened #162 "Location IDs have changed"
Hello,

First of all, thank you for making this very valuable resource available online, it's important to give access to raw data to everyone.

Now, I'd like to mention a curious change in the resource IDs. Last time I've checked (it was on Friday, March 20th), the ID of metropolitan France was `157`. Today (March 24th), this ID points at Mauritius (country code MU).

1. How did that happen? Was

[2020-03-24 11:03] ExpDev07 commented on #162
The IDs definitively were not meant to change and was an effect of our data-provider unexpectedly changing their indexes as part of a restructuring. So for now they’ll stay until they change again, which hopefully won’t happen. I’m working on getting the data into a database so the IDs can stay persistent.

[2020-03-24 12:37] brunobord commented on #162
thank you for the quick response.
Acknowledging that the issue is handled :o)
Keep up the good work!

[2020-03-24 13:02] imjoshellis opened #163 "Consider ulklc/covid19-timeseries as optional source"
Because my app relies on recovered data to estimate "active" cases, I'm going to have to switch from this API (which is lovely, btw) to this data, unless you want to add it as an optional source here?

https://github.com/ulklc/covid19-timeseries

[2020-03-24 13:07] mmilosanovic commented on #152
Perfect. Thanks for providing this API, it is very useful to help track the impacts on operations.

[2020-03-24 13:07] #152 closed

[2020-03-24 15:08] lovelaced opened #164 "Inconsistent country results"
Hi,
Thanks for doing this. I was looking for this exact type of project for a bot I was requested to write. :) So far, everything has worked pretty well. There are a couple problems with the consistency of the data that I've noticed, though.

1) Countries with provinces/states/sub-areas don't have their own ID/timeline. This was changed for the US query yesterday; the US now has a timeline and ID,

[2020-03-24 15:13] fsa317 opened #165 "US State Timelines"
Not sure if it something wrong with what I am doing but I seem to have lost the ability to get US State based timelines from the API?

[2020-03-24 15:29] imjoshellis commented on #164
FYI, this is inconsistent at the source, making it a source-level issue. The source changed their data structure for US as a special case. [@CSSEGISandData/COVID-19](https://github.com/CSSEGISandData/COVID-19) accumulated over 100 new issues overnight because of this dramatic change...

[2020-03-24 15:30] lovelaced commented on #164
Thanks for the info. I imagine it'll probably happen again, then. Closing due to not a problem with upstream :)

[2020-03-24 15:30] #164 closed

[2020-03-24 15:31] Bost commented on #73
After some hammocking, I'm increasingly of the following opinion:
If a country can belong to multiple continents then there's no other way around than instead of a new field `continent` containing a value of a primitive type, there must `continents` type-of list:

[code]

Many people will wonder if it's a mistake and may others will make the same mistake (i.e. assuming the one-to-one correspondenc

[2020-03-24 15:33] imjoshellis commented on #165
[my comment](https://github.com/ExpDev07/coronavirus-tracker-api/issues/164#issuecomment-603307478) in #164

Additional context: they changed it to where they're reporting on the county level, which is a great thing for analyzing the data, but not so great for backward-compatibility

[2020-03-24 15:49] fsa317 commented on #165
Right, but is there still a way to get state level #s?

[2020-03-24 16:35] ExpDev07 commented on #165
CSBS provides all the way down to county-level. However, it is U.S. exclusive and doesn’t offer other countries.

“v2/locations?source=csbs”. It does not support timelines either.

[2020-03-24 16:37] ExpDev07 commented on #73
Seems like a good solution! Smart idea to call it continents_list

[2020-03-24 16:40] ExpDev07 commented on #163
I’ll look into adding it!

[2020-03-24 16:42] tonjo opened #167 "Added simple Telegram BOT"
I'm using this tracker as a data source for a Telegram BOT: @CovidWORLDbot
Thanks.

[2020-03-24 16:44] fsa317 commented on #165
From what I see the JHU daily reports still show individual states and counties.  Couldn't the timelines be built from that?  https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports/03-23-2020.csv

[2020-03-24 16:45] ExpDev07 commented on #165
@fsa317 given their recent announcement, I am confident they won’t for much longer.

[2020-03-24 16:49] tonjo opened #168 "Recovered number always zero"
As I said, the 'recovered' field is always 0, in all countries.

[2020-03-24 16:54] mploux commented on #75
@ExpDev07 Hello, I'm back with some news and a solution.
Witch branch are you watching to get the data on [CSSEGISandData /
COVID-19](https://github.com/CSSEGISandData/COVID-19) ?
If you are looking at the `master` branch it's normal that the data is behind by a day as this branch is updated only once a day.
The correct branch to watch is the `web-data` branch https://github.com/CSSEGISandData/COV

[2020-03-24 19:10] ExpDev07 commented on #168
Duplicate of https://github.com/ExpDev07/coronavirus-tracker-api/issues/161.

[2020-03-24 19:10] #168 closed

[2020-03-24 19:11] ExpDev07 commented on #75
@mploux I'll look into it, feel free to submit a PR.

[2020-03-24 21:08] gribok opened #169 "Add CONTRIBUTION guideline"
Add CONTRIBUTION guideline for improved collaboration in the open source project. It enables a self-onboarding concept for developers.

Suggestion to cover some topics for version 0.1:
1. Coding Style (PEP8) in idiomic python way
2. Testcases for every change
3. Use issue tracker to find open enhancement with a badge
4. Use PR to publish changes

[2020-03-24 21:33] ExpDev07 commented on #169
Would be awesome if you could submit a PR for this 😍

[2020-03-25 03:55] #130 closed

[2020-03-25 04:19] rmr1012 opened #171 "Add Tallies for Regions"
Hi,

Thanks for the great work putting this together!

I'm seeing some issues with some countries with provinces/states not having a total tally directly queryable. I've been doing the adding myself but that has been heavy on compute. (Missing China, Canada, Australia, and Cruise Ship)
Also, looks like the state-wide tallies also went away for some reason. For the US, now there's no easy way to ge

[2020-03-25 04:25] ExpDev07 commented on #171
Per JHU’s (our main data provider) announcement, they’ve decided to move away from province tracking and focus on countries as a whole, that’s why you see data missing.

For your second question, yes, there is, try “/v2/locations?province=New%20York” and check the top level “latest”. It’ll have the latest of all counties in New York aggregated together.

Go to the README file and check out our new

[2020-03-25 05:28] jwillis0720 commented on #165
I think we have lost the ability for all timelines.

[2020-03-25 05:59] ExpDev07 commented on #165
You are correct, fixing it now. @jwillis0720

[2020-03-25 06:11] rmr1012 commented on #171
I see, thanks!
Any chance to get timeline data for states?  Tried v2/locations?source=csbs&province=New%20York&timelines=1 but didn't see any timelines getting returned

[2020-03-25 06:19] ExpDev07 commented on #171
Unfortunately, CSBS doesn’t provide timeline data at the moment.

[2020-03-25 06:28] rcideos opened #172 "Hi, I created an interactive map with your API, thanks for the dataset!"
You can visit the map in [COVID-19 Map](https://python.robertocideos.com)

Thanks for the hardwork and the dataset!

[2020-03-25 06:55] rmr1012 commented on #171
Got it. One last question, since JHU is tracking countries, seems like CA, AU, and CN still doesn't have country-wide tally
v2/locations?timelines=1&country_code=CA

[2020-03-25 07:01] potchangelo opened #173 "Cross-Origin Request Blocked"
Thanks you for the API, I'm using on my project, COVID-19 Tracker app.
Website: https://covid-19-tracker-app.netlify.com
Github: https://github.com/potchangelo/covid-19-tracker

The site worked normally on the past days. But today I got API request error (from Mozilla Firefox console).

[code]

Do you have any solutions ?

[2020-03-25 07:06] ExpDev07 commented on #171
I can’t 100% tell you what’s going on in JHU’s mind, because they’re making some weird ass and random decisions, but I think they’re still working on the migration over, or that they just decided to exclusively don’t track provinces for U.S. Your example request does yield the total stats for Canada though, just look in the top-level latest JSON-object.

[2020-03-25 07:09] traderjosh commented on #173
Yes, same issue

![image](https://user-images.githubusercontent.com/15523421/77510781-70b7c500-6e67-11ea-818a-3293d433fdd0.png)

[2020-03-25 07:13] davidsommer commented on #173
Same issue here, i'm doing a fetch in javascript:
Access to fetch at 'https://coronavirus-tracker-api.herokuapp.com/v2/locations?country_code=CH&timelines=1' from origin 'null' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status.

[2020-03-25 07:13] ExpDev07 commented on #173
Hello! I have enabled CORS. Please give it a few minutes for the changes to take effect.

[2020-03-25 07:14] traderjosh commented on #98
This would be good too because the API is now broken for me and others

[2020-03-25 07:17] ExpDev07 commented on #98
@traderjosh can you explain in more detail how it’s broken for you? JHU (our data provider) made some pretty drastic changes lately which has caused the API’s outputs to change (of note the ID indexing and provinces no longer being present for USA).

[2020-03-25 07:18] ExpDev07 commented on #173
It is now enabled.

[2020-03-25 07:22] pritampawade opened #174 "API is down"
Application error
An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details. You can do this from the Heroku CLI with the command
heroku logs --tail

[2020-03-25 07:26] ExpDev07 commented on #174
Coming back up now.

[2020-03-25 07:27] ExpDev07 commented on #174
The cause has been fixed.

[2020-03-25 07:27] #174 closed

[2020-03-25 07:28] pritampawade commented on #174
:( not working

[2020-03-25 07:28] #173 closed

[2020-03-25 07:31] davidsommer commented on #173
@ExpDev07  THX -> works perfectly again

[2020-03-25 07:32] ExpDev07 commented on #174
@pritampawade It is now :) The heroku was just overwhelmed with the initial amounts of requests so it took some time for it to catch up.

[2020-03-25 07:36] traderjosh commented on #98
@ExpDev07 it works now - it was that cors header field missing from the API. The recovered field is missing now it seems. Is that gone forever? And some countries don't have an id, you're right.

I think a database would be good for this in case of website changes. MongoDB would be good because the data can change unexpectedly.

[2020-03-25 07:39] ExpDev07 commented on #98
For JHU, yes, the recovery stats is gone forever unless they decide to bring it back. I’m gonna see if I can find some other reputable sources that offer it and add it to the API.

[2020-03-25 07:40] traderjosh commented on #98
Ok that's not an issue. Do you want me to help setup MongoDB? I can write the boilerplate and you can integrate an account for it.

[2020-03-25 07:42] ExpDev07 commented on #98
It would be awesome if you can start drafting a PR for it. It needs to be compatible with our service provider system (see “app.services.locations” module). But I think MongoDB will be perfect for it. I’m thinking we periodically sync the DB with data retrieved from the data sources.

[2020-03-25 07:50] traderjosh commented on #98
And it should be in Python? Not my speciality but I could do some research.

[2020-03-25 07:54] ExpDev07 commented on #98
Yeah, feel like that would be best.

[2020-03-25 08:18] rmr1012 commented on #171
Got it, thanks a bunch!

[2020-03-25 08:18] #171 closed

[2020-03-25 09:10] Ravipatel401 opened #175 "I have made Android App using this API"
I have develop simple Android Application using this API for public but still did not share yet, I want you to inform you people about this what should i do for further improvement and development any suggestion if we can launch for public or not ?

I tried to find out contact details but could not seen anywhere so just trying to reach you people by creating issue,

Please share your contact detai

[2020-03-25 10:05] markus-bergelt opened #176 "recovered timeline is empty for each feature"
Hi there unfortunately the recovered timeline is empty for each feature requesting the locations like this: https://coronavirus-tracker-api.herokuapp.com/v2/locations?timelines=1

![image](https://user-images.githubusercontent.com/58459623/77524966-8db0c000-6e88-11ea-961f-a464b12cc4ef.png)

[2020-03-25 10:48] marlon360 opened #177 "I created an Augmented Reality app with your API"
You can visit the project here: https://github.com/marlon360/covid-ar
A demo is available here: http://www.youtube.com/watch?v=K2xB62Qy40Q

Thanks for the hardwork and the dataset!

![thumbnail_3-2](https://user-images.githubusercontent.com/11810704/77528510-62c96a80-6e8e-11ea-8415-119f21f03aad.jpg)
![detail_view](https://user-images.githubusercontent.com/11810704/77528523-678e1e80-6e8e-11ea-9d87-

[2020-03-25 11:10] OlegMillennium opened #178 "Recovered parameter is always 0"

[2020-03-25 11:50] Kilo59 opened #179 "Source with missing county data should return 404"
Trying to get county data for a source that doesn't contain that level of detail should return a 404

https://coronavirus-tracker-api.herokuapp.com/v2/locations?source=jhu&province=North%20Carolina&county=Wake

[code]

https://coronavirus-tracker-api.herokuapp.com/v2/locations?source=csbs&province=North%20Carolina&county=Wake

[code]

If no one else addresses it first, I should be able to fix this

[2020-03-25 11:53] Kilo59 commented on #98
https://api.mongodb.com/python/current/

[2020-03-25 15:10] codedawi commented on #161
According to a recent interview IBM's CEO they are working on getting the recovered numbers for their new [Weather Channel map to track coronavirus](https://fortune.com/2020/03/25/ibm-weather-channel-coronavirus-covid/). They could be working with CDC to aggregate this data. This might be a creditable data short to get this recovery information from in the future.

[2020-03-25 15:43] ExpDev07 commented on #175
Feel free to reach me at discord at Marius Big Ounce#2997.

[2020-03-25 15:44] ExpDev07 commented on #176
https://github.com/ExpDev07/coronavirus-tracker-api/issues/161

[2020-03-25 15:44] #176 closed

[2020-03-25 15:46] ExpDev07 commented on #178
https://github.com/ExpDev07/coronavirus-tracker-api/issues/161

[2020-03-25 15:46] #178 closed

[2020-03-25 15:47] ExpDev07 commented on #161
@codedawi Awesome!

[2020-03-25 16:25] Kilo59 commented on #169
Can we adopt a formatter and/or [import sorter](https://github.com/timothycrosley/isort)?
My preference is [`black`](https://github.com/psf/black).

[2020-03-25 17:01] ExpDev07 commented on #169
Absolutely @Kilo59

[2020-03-25 17:14] aramkoukia opened #182 "the https://coronavirus-tracker-api.herokuapp.com/ stopped working?"
looks like there is an SSL error

[2020-03-25 17:16] ExpDev07 commented on #182
I'm not experiencing any errors? Could you provide a screenshot or something more?

[2020-03-25 17:28] egbakou commented on #182
It works !

[2020-03-25 17:33] aramkoukia commented on #182
here is what I get
![image](https://user-images.githubusercontent.com/7307404/77567201-0b260180-6e84-11ea-995e-d908165fb94c.png)

[2020-03-25 17:35] ExpDev07 commented on #182
Could be anything on your end too really, or just the heroku server acting up. It's a free instance, so if you're looking for 100% connection realability, you're better forking the repo and launching your own instance of it.

[2020-03-25 17:40] ExpDev07 commented on #179
Just at the end after filtering locations:

[code]

[2020-03-25 19:18] Bost opened #183 "Running development environment"
When running the service locally, I get:
[code]
Then in the browser, after opening:
-  `http://127.0.0.1:5000/`I get redirected to `https://github.com/ExpDev07/coronavirus-tracker-api`
-  `http://127.0.0.1:5000/all`I get to see the result of the `v1` version.

So far everything's fine[1]. But how do I get to see the results for the `v2` version? So far I can see only the `v1` routes are activated:

[2020-03-25 19:22] ExpDev07 commented on #183
We've moved over to FastAPI and are using Flask only for the version 1 routes. You need to start the app by running ``pipenv run dev`` for development (or ``pipenv run start`` if you don't want live-reload when you make changes to files). But make sure to run ``pipenv install`` first so that you get the new dependencies.

You can add me on Discord Marius Big Ounce#2997 if you have any questions.

[2020-03-25 19:28] Bost commented on #183
HA!
[code]
Anyway it would be fine to put such instructions to the README.md

[2020-03-25 19:32] ExpDev07 commented on #183
I think you need to update your python version to 3,8, also, I have updated the README with those instructions (see Running / Development). I'm on
[code]

And it works just fine.

[2020-03-25 19:36] Bost commented on #183
Hmm :)
[code]

[2020-03-25 19:37] ExpDev07 commented on #183
@Bost

Weird. You're ``pipenv`` is telling you ``File "/usr/lib/python3.7/shlex.py", line 309, in split`` (python 3.7).

[2020-03-25 20:00] Hershef opened #185 "A site based on Egypt's situation with charts/real time."
You can give it a visit on: https://egcorona.com

Includes a message telling people to just stay home.

Updates real time ( a check once per 10 seconds ) with nice charts included

Recovered timeline is dead due to the recent data source situation, so don't mind it, for now.

Thanks for creating this API.
Hopefully the numbers would hit zero soon.

[2020-03-25 20:15] gribok commented on #169
I will submit a PR. Please assign issue to myself.
@Kilo59 For formatter discussion, please raise another issue.

[2020-03-25 20:16] ExpDev07 opened #187 "Adopting a formatter and/or import sorter"
Can we adopt a formatter and/or [import sorter](https://github.com/timothycrosley/isort)?
My preference is [`black`](https://github.com/psf/black).

_Originally posted by @Kilo59 in https://github.com/ExpDev07/coronavirus-tracker-api/issues/169#issuecomment-603941229_

[2020-03-25 20:20] Kilo59 commented on #169
The style guide, linter and formatter decisions need to be made  holistically. Otherwise they are liable to conflict.

[2020-03-25 20:52] #182 closed

[2020-03-25 20:55] ExpDev07 commented on #185
Indeed!

Best wishes from Norway.

[2020-03-25 21:21] Turreted commented on #71
@ExpDev07 Sorry for taking so long. The changes can be found at pull request #188.

I also wasn't able to test this on my computer, so you should probably verify that it works before merge.

[2020-03-25 21:33] Abdirahiim opened #189 "Internal error"
It says "Internal Server Error" when I load it up

[2020-03-25 21:35] ExpDev07 commented on #189
I see it. Investigating right now.

[2020-03-25 21:35] Abdirahiim commented on #189
Alright, thanks

[2020-03-25 21:42] Abdirahiim commented on #189
Btw how did you configure the @all-contributors bot? I can't seem to get it to work

[2020-03-25 21:43] ExpDev07 commented on #189
Seems to be fixed now. Looks like JHU updated their dates and messed up but quickly fixed it?

[2020-03-25 21:44] ExpDev07 commented on #189
@Abdirahiim simply install the bot here https://allcontributors.org/.

[2020-03-25 21:45] #189 closed

[2020-03-25 21:45] Abdirahiim commented on #189
I did but when I call for it it doesn't seem to respond or do a PR

[2020-03-25 21:47] ExpDev07 commented on #189
Hmm, that's odd. The documentation for it is at least here https://allcontributors.org/docs/en/bot/installation. I didn't follow any more steps than these.

[2020-03-25 23:09] Bost commented on #183
The problem persists. I tried different machines (both of them ubuntu 19.10)... my python 3.8.2 is compiled from the source on both of them... I use the fish-shell so just to rule out any interference with that I also created myself a new user having bash... I also tried to run `pipenv --python 3.8 ...`. Nothing works... I'm stuck. Like a thumb in... wherever.

I've been having issues with the pyt

[2020-03-26 00:59] #71 closed

[2020-03-26 01:49] #162 closed

[2020-03-26 02:01] #187 closed

[2020-03-26 03:04] winsphinx commented on #161
Even in v1, the recovered data are dropped.

[2020-03-26 03:20] ExpDev07 commented on #161
It seems like JHU are starting to track recoveries again (or at least they've added a file for it: https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv), however, the indexing is not compatible with the confirmed and deaths so it won't show up in v2 yet and it also appears the file is a bit corrupted/broken. I'

[2020-03-26 03:21] jwillis0720 opened #196 "CSBS does not provide timelines"
https://github.com/ExpDev07/coronavirus-tracker-api/blob/573d45ee64faf8dcc4ef407e0a31b392dab87ed7/app/services/location/csbs.py#L26

I just want to make super dooper sure I'm not missing anything before I start storing this data. CSBS does indeed not report timeline data and only updates current. Requesting a timeline with CSBS source returns the same as not requesting a timeline and this is expec

[2020-03-26 03:32] ExpDev07 commented on #196
@jwillis0720 yes, you're correct. They don't support recoveries nor timelines, only present data of confirmed and deaths.

[2020-03-26 07:55] robertcdawson opened #197 "Working on a web app with this API"
I'm working on a web app to search and show US county data with this and the Google Maps JavaScript API:

https://coronavirus-us-county-tracker.netlify.com/

Thanks so much!

Note: I'm caching the API every 24 hours in localStorage to minimize hitting your API.

[2020-03-26 08:56] haxzie opened #198 "Recovered Cases are empty"
API response for Recovered cases are empty.
Checked in both
[code]
and
[code]
both returns empty array.

### Sample response
[code]

[2020-03-26 09:23] Zrna commented on #198
+1 for empty recovered cases on https://coronavirus-tracker-api.herokuapp.com/all

[2020-03-26 09:59] dixoncheng opened #199 "Getting multiple selected countries in a single query"
Is it possible to get multiple selected countries in a single query?

[code]

[2020-03-26 10:00] Zrna commented on #161
@ExpDev07 will https://coronavirus-tracker-api.herokuapp.com/all be updated also?

[2020-03-26 10:04] ExpDev07 commented on #199
No, unfortunately not at the moment. You’ll have to make multiple requests and add them together.

[2020-03-26 10:05] ExpDev07 commented on #161
@Zrna yes.

[2020-03-26 10:06] ExpDev07 commented on #198
This is due to a bug in JHU’s (our data provider) file that lists data for recoveries. Once it gets fixed it should start working again.

[2020-03-26 10:07] ExpDev07 commented on #198
https://github.com/ExpDev07/coronavirus-tracker-api/issues/161

[2020-03-26 10:07] #198 closed

[2020-03-26 10:26] #199 closed

[2020-03-26 12:06] paolotamag opened #200 "Recovered time series are gone"
If you check now the api returns 0 recovered and empty lists in the json for time series of recovered.

[2020-03-26 12:35] Abdirahiim commented on #200
I think it's because the datasource sThis is due to a bug in JHU’s (our data provider) file that lists data for recoveries. Once it gets fixed it should start working again.

_Originally posted by @ExpDev07 in https://github.com/ExpDev07/coronavirus-tracker-api/issues/198#issuecomment-604339635_

[2020-03-26 12:48] Abdirahiim commented on #200
Our main data provided (JHU) [has decided to drop support for recovery data](https://github.com/CSSEGISandData/COVID-19/issues/1250), hence, the API will show 0 until an alternative source is added for world data.

There’s a notice regarding this change on the top of the README. Unfortunately little I can do besides change data source, which again, many people will get upset with.

_Originally pos

[2020-03-26 14:27] paolotamag commented on #200
this is indeed a problem for our application, can we at least show the old data and then missing values since the days they removed the recovered features?

[2020-03-26 14:37] youcann opened #201 "French data is broken"
It seems like the frech data shows deaths instead of confirmed for the confirmed cases.

[2020-03-26 14:46] Bost commented on #183
Solution found. See https://github.com/ExpDev07/coronavirus-tracker-api/pull/202

[2020-03-26 14:46] #183 closed

[2020-03-26 16:08] addenergyx opened #203 "I've created an interactive dashboard, Thanks for creating this API!"
Hi, I created an interactive dashboard for a project, using your API. Thank you for making this happen! Much more convenient than downloading the dataset every morning. :)

You can visit the dashboard [here](https://www.coronavirustracker.co.uk/tracker/)
Any advice/tips on improving it would be much appreciated.

Again thanks for the hard work creating this API!

[2020-03-26 18:05] Bost opened #204 "Running tests localy"
It doesn't work on my machine. I think the key message is the:
[code]
What am I doing wrong?

Full output:
[code]

[2020-03-26 18:21] gribok commented on #204
You have not installed the dev requirements.

Please install via
[code]
and try again.

[2020-03-26 19:42] #179 closed

[2020-03-26 19:44] ExpDev07 commented on #200
https://github.com/ExpDev07/coronavirus-tracker-api/issues/161

[2020-03-26 19:45] ExpDev07 commented on #200
@paolotamag it's better to show nothing than outdated data, in my opinion :/.

[2020-03-26 19:53] ExpDev07 commented on #201
I cannot see this myself?

``http://127.0.0.1:8000/v2/locations?source=jhu&country_code=FR```
[code]

[2020-03-26 20:29] Kilo59 opened #206 "Move v1 to FastAPI"
Version 1 of the API is still using Flask mounted as a wsgi application.
https://fastapi.tiangolo.com/advanced/wsgi/

https://github.com/ExpDev07/coronavirus-tracker-api/tree/master/app/routes/v1

We can remove the Flask dependency and move everything to the `ASGI` based FastAPI which should increase the total throughput of the API.
https://www.encode.io/articles/hello-asgi

[2020-03-26 20:48] gribok opened #207 "Add test coverage to testing"
To enforce test-driven development, let's measure test coverage via `Coverage.py`.
The result can be added to [Coveralls](https://coveralls.io/), which provides a free service for open source project and has a built-in integration in Travis-CI.
It would be possible to add a new quality gate into CI pipeline, that new code have to be covered with test cases.

[2020-03-26 20:56] Kilo59 commented on #207
Was going to suggest the same thing.
@gribok do you want to take this?

[2020-03-26 21:04] gribok commented on #207
@Kilo59 Yes. Do we want to measure `statement` or `branch` coverage?

[2020-03-26 21:34] Kilo59 commented on #207
@gribok I would say `statement` but if you have a case for `branch` coverage I'm all ears.

[2020-03-26 22:20] gribok commented on #207
Statement coverage sounds good. Let's try.

[2020-03-26 22:27] davidlsweeney opened #208 "https://coronavirus-tracker-api.herokuapp.com/v2/latest "recovered" is 0"
Issue: at https://coronavirus-tracker-api.herokuapp.com/v2/latest "recovered" is 0, I do not think this should be 0.
![Capture](https://user-images.githubusercontent.com/35756043/77702578-bc13d400-701d-11ea-9cfa-402b4d75f378.PNG)

Was using this endpoint for a PyPortal Project and as of a day or two ago recovered would display total recovered cases but it is now 0.

[2020-03-26 22:34] ExpDev07 commented on #208
https://github.com/ExpDev07/coronavirus-tracker-api/issues/161

[2020-03-26 22:34] #208 closed

[2020-03-26 22:34] ExpDev07 commented on #161
@Zrna recoveries for https://coronavirus-tracker-api.herokuapp.com/all, it will still be a little bit before it's fixed for v2.

[2020-03-26 22:39] Zrna commented on #161
@ExpDev07 thank you for all the hard work!

[2020-03-26 23:34] Pato2777 opened #209 "Argentina data not update"
Good job and thank you for share this
 i have a mini dashboard for calculate ratios and variabilities but the data not update today
in Argentina yesterday there were 117 and actually there are 0

thanks!

--

[2020-03-26 23:38] Bost opened #210 "Reimplementation of country_code - why?"
The reimplementation of the `country_code` function in the 73f02fb does at least 3 dictionary lookups for any input: 3 lookups in the best-case and 5 lookups in worst-case scenarios:

[code]
Where the original implementation does only 2 lookups in the best-case and only 4 lookups in worst-case scenarios:
[code]
To me it looks like the old implementation is more efficient, right?

Yea i know, the c

[2020-03-26 23:42] ExpDev07 commented on #209
I cannot reproduce?

https://coronavirus-tracker-api.herokuapp.com/v2/locations?source=jhu&country_code=AR
[code]

[2020-03-26 23:48] Bost commented on #210
Also, reuse or shadowing of variable or parameter names in general makes the code brittle. I.e. bugs get easily introduced when refactoring etc. I'm talking about the `country` variable here in our case.

[2020-03-26 23:51] Pato2777 commented on #209
{
  "latest": {
    "confirmed": 387,  -------------------> 502
    "deaths": 8,
    "recovered": 0
  },
  "locations": [
    {
      "id": 6,
      "country": "Argentina",
      "country_code": "AR",
      "country_population": 41343201,
      "province": "",
      "last_updated": "2020-03-26T23:33:06.544250Z",
      "coordinates": {
        "latitude": "-38.4161",
        "longitude": "-63.6167"

[2020-03-26 23:53] Bost commented on #210
On the other side we've got just 2 levels of nested if-else statements instead of 3. I see that. But 3 is not so much and it doesn't outweight the performance penalty, IMO.

[2020-03-26 23:53] ExpDev07 commented on #209
Do you mean there's 502 confirmed cases? In that case, it shouldn't have decreased. All the API is doing is retrieving data from JHU. If numbers have changed, it's their doings.

[2020-03-26 23:57] Bost commented on #210
Aaah, hello there https://github.com/ExpDev07/coronavirus-tracker-api/milestone/1

[2020-03-26 23:58] ExpDev07 commented on #210
Hello! Yes, my apologies! The initial change was to try and make it more readable, and in my head they seemed equal at the time. I've changed it again and this time, it should only do 3 lookups at max. Once when initially checking if country is found, if not, it looks it up in synonym, then a third time for retrieval.

[2020-03-27 00:01] Bost commented on #210
Wait wait.
if the performance is a problem then we should map the synonyms straight to the country codes. Not to the ISO defined country names.

[2020-03-27 00:03] ExpDev07 commented on #210
@Bost I wouldn't really say it's a huge problem, but a solution could be something like

[code]

Could that perhaps be more efficient?

[2020-03-27 00:10] Bost commented on #210
... but in the 7ebcc175 we lost an important warning, so we don't know if there's yet another new synonym or a typo in country names. So that e.g. "Russija" gets mapped to "Others" and won't know about that. That's slightly sub-optimal so to say...

[2020-03-27 00:12] Pato2777 commented on #209
Fixed tnx

[2020-03-27 00:18] Bost commented on #210
Uhm, this way the keys and values of the dictionary must be at reversed at first and then a search in the list must be done. And I don't think we have that many lookups in the synonyms dictionary anyway. The most performant solution would be to use a straight mapping `synonym -> country_code` i think. (As I mentioned few minutes ago)

[2020-03-27 00:24] ExpDev07 commented on #210
Ah yes, my bad. This fixes it: https://github.com/ExpDev07/coronavirus-tracker-api/pull/212 :). Thanks for notifying!

[2020-03-27 00:24] ExpDev07 commented on #210
That would be a good solution yeah.

[2020-03-27 00:38] Bost commented on #204
Continues in https://github.com/ExpDev07/coronavirus-tracker-api/pull/202

[2020-03-27 00:38] #204 closed

[2020-03-27 00:40] Bost commented on #73
Continues in https://github.com/ExpDev07/coronavirus-tracker-api/pull/180

[2020-03-27 00:40] #73 closed

[2020-03-27 00:41] Kilo59 opened #213 "Move project `make` tasks to `invoke tasks`"
Adopt the popular python task runner `invoke`
http://www.pyinvoke.org/index.html#what-is-invoke

This should simplify project development tasks across multiple platforms

[2020-03-27 08:06] AshV opened #215 "India Data is stale"
Recover count is 67 now.

[2020-03-27 10:13] martiL commented on #111
@ExpDev07

Sorry for the late answer.

Maybe you can use our API as a new option for selecting a data source :-).

Our data source is this project: https://github.com/lazd/coronadatascraper/.

The guys there do a great job writing scrapers for all the different sources and combining them in their own CLI tool. We're trying to create a reliable API that you can use to filter and query the data.

We

[2020-03-27 11:04] paolotamag commented on #200
no outdated, missing so you can still display the correct data.

- timestamp before JHU updated the dataset : 5 recovered cases
- timestamp after JHU updated the dataset : 5 +? = ? recovered cases that is a missing value

still not worth it maybe but potentially correct instead of showing still 5 even though it probably increased in number but it was not recorded, at least old visualization and ap

[2020-03-27 11:46] Akuukis opened #216 "docs: methodology"
Great stuff! I'm planning to use API for my dashboard [Pandemic Estimator](https://pandemic-estimator.net/) but I wish your API had a better documentation on methodology. I'm using JHU directly and I know what chaos it is, the most blatant example being that they provide "cumulative data" that's not cumulative quite often in practice. And the whole change of file formats, etc.

Can you please desc

[2020-03-27 15:14] AbhinavMir opened #217 "Allow "https://coronavirus-tracker-api.herokuapp.com/v2" to fetch an instruction section."
Presently it gives the following result
[code]

A result of the following type would be more helpful!

[code]

[2020-03-27 15:14] AbhinavMir commented on #217
I can implement this, let me know if needed.

[2020-03-27 15:19] Kilo59 commented on #217
We have a swagger file for v2 already at the root

https://coronavirus-tracker-api.herokuapp.com/
https://coronavirus-tracker-api.herokuapp.com/docs

We probably should redirect to this location at `/v2`

[2020-03-27 15:33] AbhinavMir commented on #217
Hi, it still returns an HTML doc

[code]

[2020-03-27 15:59] Kilo59 commented on #217
https://coronavirus-tracker-api.herokuapp.com/openapi.json

[2020-03-27 20:13] ibhuiyan17 commented on #206
Can I take a shot at this?

[2020-03-27 20:44] AbhinavMir opened #220 "API displaying 0 recovered cases"
The latest fetch result as of 28-03-2020, 0206 GMT +5:30 displays 0 recovered cases, while it is actually 132,447.

[2020-03-27 20:55] ExpDev07 commented on #220
Our data provider has not sorted out their recovered cases yet, thus it's displaying 0.

[2020-03-27 20:55] #220 closed

[2020-03-27 20:58] ExpDev07 commented on #216
Hey, we don't mix and match the data. The data being retrieved is solely up to what data provider source you specify at the end of the URL through ``?source=your_source``. At the moment, ``jhu`` (as default if you don't provide one) or ``csbs`` are the only available one.

As with JHU constantly changing their stuff, we try to deal with it as good as possible, but it's clearly reflected in the API

[2020-03-27 21:33] ExpDev07 commented on #206
@ibhuiyan17 Sure, if you wish!

[2020-03-28 09:21] Zrna opened #223 "Include country_population in https://coronavirus-tracker-api.herokuapp.com/all ?"
Is there any chance to include **country_population** property in https://coronavirus-tracker-api.herokuapp.com/all API?

[2020-03-28 10:35] Bost commented on #210
Solved in https://github.com/ExpDev07/coronavirus-tracker-api/pull/218

[2020-03-28 10:35] #210 closed

[2020-03-28 10:40] Bost commented on #167
@tonjo hey it looks like your bot doesn't do that much. Check mine https://t.me/corona_cases_bot and more importantly, check the [source code](https://github.com/Bost/corona_cases). BTW where is yours?

[2020-03-28 12:41] Kilo59 commented on #196
Should we return a 4xx code for this? I'm inclined to think we should.

[2020-03-28 17:45] nguyandy opened #224 "Using timeseries provided by NYT"
Looks like New York Times has made their timeseries public.
Would it be possible to add this source at some point?

https://github.com/nytimes/covid-19-data

[2020-03-28 19:07] azeezgaa opened #225 "Do we have any API specific to India ?"

[2020-03-28 19:15] Abdirahiim commented on #225
This API does have data from India or did you mean one specific to India

[2020-03-28 19:19] azeezgaa commented on #225
Yes it does have a India details, I mean to say specific to india or state wise like we have for china or US ?

[2020-03-28 19:19] Abdirahiim commented on #225
No, it doesn't have that kind of data

[2020-03-28 19:20] Abdirahiim commented on #225
You can check it out here: http://coronavirus-tracker-api.herokuapp.com/v2/locations?country=india

[2020-03-28 19:21] azeezgaa commented on #225
And one more question. I still dont see the recovered response is accurate do we have any work around for getting the correct recovered respnose ?

[2020-03-28 19:22] Abdirahiim commented on #225
jhu dropped support for the recovered data

[2020-03-28 21:16] azeezgaa commented on #225
Thank you

[2020-03-28 21:16] #225 closed

[2020-03-28 21:16] SergejYermakovich opened #227 "Recovered are not displayed"

[2020-03-28 21:50] AbhinavMir commented on #217
Right, thanks!

[2020-03-28 21:50] #217 closed

[2020-03-28 22:11] d00mfish commented on #227
I have the same Problem. No Recovered numbers. Worldwide and in every country. That makes the whole situation a look lot more depressing :(

[2020-03-28 22:13] Benjozork commented on #227
Please look at the pinned issue, @SergejYermakovich @d00mfish

[2020-03-28 22:14] d00mfish commented on #227
Oh didnt see it. Thanks a lot

[2020-03-28 23:17] ibhuiyan17 commented on #206
@ExpDev07  @Kilo59
Hey guys, just checking in.

So I believe I have v1 "working" with FastAPI but it's not passing the tests because it currently returns a dictionary which may have non-deterministic ordering. My guess is adding models for the v1 endpoints (like the ones that exist for v2) might fix this if the schema matches the order in the json file that it's being tested against.

Let me know

[2020-03-28 23:57] #227 closed

[2020-03-28 23:58] ExpDev07 commented on #206
@ibhuiyan17 that shouldn't really be the issue. Open a PR ?

[2020-03-28 23:59] ExpDev07 commented on #196
@Kilo59 Possibly, but that's for another issue. Closing this.

[2020-03-28 23:59] #196 closed

[2020-03-29 00:03] Kilo59 commented on #206
My guess is you are using the flask testing client instead of the FastAPI testing client. Dictionaries haven ordered since 3.6
But it'll be much easier to debug once you open a PR.

[2020-03-29 00:05] ibhuiyan17 commented on #206
I switched it over to the FastAPI testing client but still getting the issue. I'll open a PR

[2020-03-29 00:17] ibhuiyan17 commented on #206
I see now, I was thinking about it backwards. It passed the tests when I did json.loads(expected). I'll open a PR after cleaning up my changes a bit. Thanks!

[2020-03-29 01:09] youcann commented on #201
Can confirm. Was an issue in my implementation.

[2020-03-29 01:09] #201 closed

[2020-03-29 01:31] #206 closed

[2020-03-29 12:29] pritampawade opened #230 "Android App for this API"
Hi,
Check out my work developed using this library :)
[Android App]

Play store not allowing Corona related apps on play store :( that's why posting 3rd party download link

https://appsenjoy.com/download/bff9cf035d46ddd4a241f248a3741cc1.html

[2020-03-29 12:47] Bost commented on #230
@pritampawade well that's for a reason. There are a way too many criminals out there trying to scam people with all sorts of "Apps". No doubt you that, do you? So, please show us your source code. Thank you.

[2020-03-29 14:28] ahmedfaaid opened #231 "Great API! Building a small web app"
Hey I am using your app to build a small [web app using Next.js and React](https://github.com/ahmedfaaid/covid-19-tracker).

I have a small issue. When querying data from /v2/locations, some countries return multiple data sets broken down by province/state. Some have one object which shows the overall stats for the country however Canada and China only returns province stats and no overall country

[2020-03-29 16:13] ibhuiyan17 commented on #224
@ExpDev07 I can look into this if you want to add it as a source

[2020-03-29 16:18] Kilo59 opened #232 "Make all endpoints async"
To increase the throughput of the API we need to make our routes None blocking.

Methods and [dependencies](https://fastapi.tiangolo.com/async/#dependencies) used by the endpoints also need to be non-blocking (where possible).
This is probably the best place to start.

⚠️ Do not simply add `async` keyword to the current endpoints.

I will update this issue with details.

## Resources
https://www.e

[2020-03-29 16:34] Kilo59 commented on #98
Perhaps we should use Mongo to store and update the normalized.
We can keep the data in a format that is easy to translate into our various responses.

1. Collections for each `source`
2. Documents for the countries/locations
3. Background tasks to refresh the `sources` according to how frequently they are each updated.
4. Continue to use caching to minimize database reads.

[2020-03-29 17:32] albertc44 opened #233 "Retrieving timelines by U.S. county"
Is it possible to retrieve data by U.S. county by date? Based on a quick exploration it looks like the only date field is `last_updated`. Was thinking this query might allow me to pull data by date and by county: https://coronavirus-tracker-api.herokuapp.com/v2/locations?timelines=1&country_code=US&source=csbs

[2020-03-29 18:25] ExpDev07 commented on #231
To get the total of a country, you can query with country_code and use the top-level “latest”, which sums all the provinces together. E.g for Canada: /v2/locations?country_code=CA

[2020-03-29 20:34] clinkadink commented on #231
Great api, **many thanks for all your hard work**, it is appreciated. I too have the same question/suggestion ... like Ahmedfaaid has raised. I understand your reply, but this would not work when using timelines for each country, when there are multiple provinces.

Example below shows 33 provinces, each with separate timelines - which makes it difficult to see growth over time for China (or any ot

[2020-03-29 21:09] #213 closed

[2020-03-29 21:16] Kilo59 commented on #233
US County data is provided by the csbs source, which AFIAK does not breakdown it's data by date.
https://www.csbs.org/information-covid-19-coronavirus

[2020-03-29 21:46] albertc44 commented on #233
Gotcha. I've been using the NYT source in the interim (#224 )

[2020-03-29 21:46] #233 closed

[2020-03-30 05:14] ahmedfaaid commented on #231
Just like clinkadink says, it would be great to have an object with an empty string for province that returns all the cases for that country without having to make another get request to the country code route.

[2020-03-30 08:56] kiyosuke opened #235 "Thank you for your great API!"
Hi, thank you for your great API
I have develop simple Android app
https://github.com/kiyosuke/corona-grapher

Thank you :)

[2020-03-30 13:46] rishav-learnerml opened #236 "Show the infected areas on worldmap."
Is your code showing the infected areas marked on World map at the time?... If not I can code it for you.

[2020-03-30 17:30] vastav-adi opened #237 "Returns 0 recovered"
On fetching the JSON, the number of recovered cases is shown to be zero.
![image](https://user-images.githubusercontent.com/38938944/77943032-2ce71480-72da-11ea-86c2-8bb1321de305.png)

[2020-03-30 17:46] HashirHussain opened #238 "Great API: Using for geographical representation: Need to fill few more countries."
@ExpDev07 ,

Great API, I've created a react.js application that represents geo-map with the help of your API.
You can find the working project here: [COVID19 geomap](https://hashirhussain.github.io/covid19-geomap/).

If you see the above link, there are still few countries to which the data is not getting populated (In greyed area).
Could you please provide the data for the same. e.g. Greenland,

[2020-03-30 20:11] Kilo59 commented on #236
You are welcome to use this API to visualizes cases on a world map as several projects already do.

[2020-03-30 20:11] #236 closed

[2020-03-30 20:12] Kilo59 commented on #237
please refer to #161

[2020-03-30 20:12] #237 closed

[2020-03-30 20:14] #230 closed

[2020-03-30 20:15] #175 closed

[2020-03-30 22:24] #207 closed

[2020-03-31 00:15] cyenyxe opened #240 "Heroku application down?"
At least during the last couple of hours, a timeout is triggered when trying to access the Heroku instance. See for example https://coronavirus-tracker-api.herokuapp.com/v2/sources

Could it have to do with #174 ?

[2020-03-31 00:36] cyenyxe commented on #98
From what I have seen in the code so far, both the JHU and CSBS location models derive from the `Location` class, with CSBS having some additional fields. Inheritance relationships can be easily represented (and queried) in an RDBMS.

Splitting them in multiple collections in Mongo wouldn't really add much value unless you want to support historical records in multiple formats, which is horrible t

[2020-03-31 01:40] Kilo59 commented on #240
Are you still having this problem?

[2020-03-31 03:36] Ravipatel401 commented on #175
Please Check request sent on discord !

[2020-03-31 04:43] nguyandy opened #241 "[CSBS] New Jersey showing 0 deaths"
At the time of posting, it's at 198.

It looks like on CSBS - map (https://www.csbs.org/information-covid-19-coronavirus), the death is at 198. However, it's under the state "New Jersey", county "Unassigned"

[2020-03-31 07:16] cyenyxe commented on #240
Yes, still the same. I have tried from different browsers and devices to make sure it's not a caching issue.

[2020-03-31 07:29] #240 closed

[2020-03-31 11:56] Elismar13 opened #242 "Recovered values is 0 on all request types."
When I send request on any route, I get '0 recovered' on every field.

[2020-03-31 16:59] nguyandy commented on #161
Recoveries in Canada is not showing up properly for V1.

[2020-03-31 17:27] gribok opened #244 "Generate requirements.txt files"
To ensure interoperability with other python package manager, it makes senses to generate `requirements.txt` and `requirements-dev.txt`.
`pipenv` provides capabilities to generate requirements-files for production and development-environment.
See https://pipenv.readthedocs.io/en/stable/advanced/#generating-a-requirements-txt

[2020-03-31 21:46] Kilo59 commented on #244
What's the benefit of this?
As you said anybody who wants to can generate them with `pipenv lock -r --dev > requirements.txt`

[2020-03-31 22:03] Kilo59 commented on #241
I'm not seeing any "Unassinged" country.
The next time you ecounter this, it's helpful if you capture your exact HTTP request and response.
With [httpie](https://httpie.org/) you can add the `-v` flag to your commands.

[code]
[code]

[2020-03-31 22:04] #242 closed

[2020-03-31 22:05] Kilo59 commented on #242
Please check the existing issues before creating a new one.
#161

[2020-04-01 07:19] #223 closed

[2020-04-01 07:52] atherdon opened #246 "you should publish an article about this repository at hackernoon"

[2020-04-01 08:33] johnhorsema opened #247 "[Showcase] Using your API, Cooked up a frontend with search using your API"
Check it out: [Live Site](http://covidhub.surge.sh/)

Screenshot
<img width="758" alt="Screen Shot 2020-04-01 at 4 31 55 PM" src="https://user-images.githubusercontent.com/10090182/78116066-574de480-7436-11ea-9e53-29ae8581cf8e.png">

[2020-04-01 09:49] coenraadhuman opened #248 "Experiencing issues contacting the API, all was fine yesterday."
![Screenshot from 2020-04-01 11-45-22](https://user-images.githubusercontent.com/20205514/78123455-789ada80-740e-11ea-870f-acce551be6b5.png)

![Screenshot from 2020-04-01 11-48-55](https://user-images.githubusercontent.com/20205514/78123669-d0394600-740e-11ea-833f-228f160fb924.png)

[2020-04-01 12:09] Kilo59 commented on #248
Are you still experiencing this?

[2020-04-01 12:23] coenraadhuman commented on #248
Yes we are still experiencing the same issue.

On Wed, 01 Apr 2020 at 14:09, Gabriel <notifications@github.com> wrote:

[2020-04-01 16:01] nguyandy commented on #241
Sorry I wasn't clear. This is from CSBS.
![image](https://user-images.githubusercontent.com/43226410/78159123-21960500-7410-11ea-85a1-8b42152ffa2b.png)

and from 1point3acres (where CSBS is getting their data from)  https://coronavirus.1point3acres.com/en
![image](https://user-images.githubusercontent.com/43226410/78159232-4ab69580-7410-11ea-8bb6-0a3db2bbac57.png)

Because the "Unassigned" data is

[2020-04-01 18:36] JoseMontero24 commented on #248
Is the same for me, not working
![Error](https://user-images.githubusercontent.com/62922862/78173662-4771d880-7415-11ea-9617-5017afd8efd4.PNG)

[2020-04-01 18:37] nguyandy commented on #248
Down for me as well :(

[2020-04-01 18:45] ahmedfaaid commented on #248
I'm experiencing the same as well

[2020-04-01 19:06] gribok commented on #244
1. I'm more confused about `Pipefile`, if I worked always with `requirements.txt` inside a `virtuelenv`.
    It provides capability to use desired package manager directly without workaround to export package list from `pipenv` first.
2. Same procedure as with update of `Pipefile`. Change requester have to update the `Pipfile.lock`.
    Additonally `requirements.txt` files have to be generated to

[2020-04-01 19:11] RcDevRIL commented on #248
Same here..!

Wassup @ExpDev07

[2020-04-01 19:20] RcDevRIL commented on #248
Nevermind, it came back online on my side ! 🔥

[2020-04-01 21:06] GabrielDS opened #251 "Add docker compatibility"
Hello everyone!!!

To get the benefit of run the api with one command (with isolation), how about add the dockerfile and docker-compose to this project?

Do you see some problem about this?

[2020-04-01 22:05] Kilo59 commented on #248
My guess is the application cannot handle all of the incoming traffic. We are on the free tier of heroku, which means less computing power and poor monitoring features.
We have put off some of the performance optimizations that would greatly increase the number of requests we can process.

https://github.com/ExpDev07/coronavirus-tracker-api/milestone/1

If you are in the US you can try hitting ano

[2020-04-01 22:07] Kilo59 commented on #251
@GabrielDS someone started this process already, but seems to have abandoned it.
https://github.com/ExpDev07/coronavirus-tracker-api/pull/123

This would likely need to change to use FastAPI instead of Flask.
https://fastapi.tiangolo.com/deployment/#docker

[2020-04-01 22:12] Kilo59 commented on #244
I think there's 2 things we need in order for this to happen.
1. `generate-reqs` (or similar name) [`invoke` task](https://github.com/ExpDev07/coronavirus-tracker-api/blob/master/tasks.py) to generate the requirements files
2. pytest test or CI step that ensures that the requirements.txt and `Pipfile.lock` are in sync

[2020-04-01 22:25] #169 closed

[2020-04-01 22:41] GabrielDS commented on #251
@Kilo59 Ok.. but the image "tiangolo/uvicorn-gunicorn-fastapi:python3.7" seems using python3.7 and not python3.8  (what is required according READ.ME)

[2020-04-01 22:42] Kilo59 commented on #251
@GabrielDS it shouldn't matter for a docker deployment

[2020-04-01 22:45] GabrielDS commented on #251
@Kilo59
Nice!! Do u think if we should create another pull request or wait for the pull request owner?

[2020-04-01 22:52] Kilo59 commented on #251
I would just create a new one.

[2020-04-01 22:56] GabrielDS commented on #251
I tried run this image locally, but the pipenv is forcing to use python3.8.

[2020-04-02 00:43] Kilo59 commented on #251
It does not force you to use 3.8.
https://pipenv.readthedocs.io/en/latest/basics/#specifying-versions-of-python

[2020-04-02 01:18] GabrielDS commented on #251
@Kilo59
Thanks!! I never have used pipenv so i'm a bit newbie about it.

Ok.. Done! I created a pull request.

[2020-04-02 01:56] subhav13 opened #253 "API didn't get updated today, only "Last updated" got updated to new date."
Please resolve this issue, API cases and deaths didn't updated today and suddenly at night your API got crashed too for 30 mins approx. Please resolve this problem and thank you for providing this API.

[2020-04-02 06:57] #125 closed

[2020-04-02 10:01] james-gray commented on #232
Hey @Kilo59, I've got a branch I can submit for this, but I don't have access rights to push my branch - would it be possible to be added as a collaborator? Thanks!

(CC @ExpDev07 )

[2020-04-02 10:45] gribok commented on #244
Good point. I'm going to check it out.

[2020-04-02 11:06] Kilo59 commented on #232
You don't need to be a contributer to open a pull request

[2020-04-02 12:52] james-gray commented on #232
https://github.com/ExpDev07/coronavirus-tracker-api/pull/256

[2020-04-03 02:08] #232 closed

[2020-04-03 12:07] web-sys1 commented on #161
Why?

[2020-04-03 15:36] ahmedfaaid commented on #231
Just an update, i just wrote code to basically create a new array with only unique country names and then handle the different provinces only when I query /v2/locations?country_code=CA.

I'll be closing this issue later.

[2020-04-03 20:02] gribok commented on #244
Please check my PR.

[2020-04-03 21:27] #244 closed

[2020-04-05 02:53] assetcorp opened #260 "Using your API together with other sources to provide much updated data"
I am using your API at https://github.com/assetcorp/covid-stats. I rely on your API  to handle location information for all affected places. I have a front-end website that displays the data to the general public in a much more meaningful manner.

Check it out at https://covid.delalify.com/

[2020-04-05 04:22] asportnoy opened #261 "Application error"
The [API](https://coronavirus-tracker-api.herokuapp.com/) is currently returning "Application Error" from Heroku. Please get it back up.

![Screen Shot 2020-04-04 at 11 21 08 PM](https://user-images.githubusercontent.com/14863373/78466768-14f10580-76cb-11ea-91f9-c9a1f0681b32.png)
`

[2020-04-05 10:11] assetcorp commented on #261
Seems to be working fine now.

[2020-04-05 12:45] #261 closed

[2020-04-05 12:54] saifalfalah commented on #199
I would love this too! One request for several locations instead of having to send multiple requests.

[2020-04-05 14:15] ccedacero opened #262 "Population Numbers Inaccurate"
country_population data is using old data.  From what I can tell, It may be using data from the last Census nearly 10 years ago. I may have missed documentation noting that, but just making sure it wasn't missed.
Thanks for the API! it's great!

[2020-04-05 19:34] Toxyl commented on #262
I noticed that as well, I scraped this list from Wiki:
[code]

Not all countries had the same names, so I mapped them using this list:
[code]

HTH

[2020-04-05 19:54] Toxyl opened #263 "Thanks for the API! Used it to make a filterable overview of the stats"
I'm using your API for my overview of coronavirus stats: https://www.webcodesign.de/corona
Source code is available here: https://github.com/Toxyl/corona

The overview can be filtered by countries and sorted by any of these stats:
- population
- confirmed (current)
- confirmed (last)
- confirmed (change since last in %)
- deaths (current)
- deaths (last)
- deaths (change since last in %)
- case fa

[2020-04-06 11:59] paolotamag commented on #36
hey we are doing a webinar on the KNIME workflow using your API. Maybe you are interested to join!
Many thanks! Paolo (https://www.knime.com/about/events/visualizing-the-spread-ofcovid-19-pandemic-with-knime-online-apr-7-2020)

[2020-04-06 11:59] paolotamag commented on #36
The same application has been trending on Medium since a while now: https://towardsdatascience.com/following-the-spread-of-coronavirus-23626940c125

[2020-04-07 12:45] Abdirahiim opened #264 "API is down"
So I was doing some unit tests for my project when I saw that they failed and I checked out the API to see if everything is working but it seems that it's down

[2020-04-07 13:04] Bost commented on #264
This works flawlessly https://github.com/ExpDev07/coronavirus-tracker-api#running--development

And seriously, this API service has been reaching it's capacity, so using your localhost endpoint for unit testing is more than just **nice** towards the others.

[2020-04-07 14:34] Abdirahiim commented on #264
I was testing out my API wrapper and since that it uses the API using it for tests is inevitable

[2020-04-07 14:40] AafaaqAli commented on #264
yes, it's down... but why so?

[2020-04-07 15:29] azeezgaa opened #265 "API is not working for me"
Hi There,

Is there any issue currently running at heruko ? i see the api is not working since yesterday :(

On the browser which i search with : https://coronavirus-tracker-api.herokuapp.com/v2/locations?source=csbs i am getting below error

![image](https://user-images.githubusercontent.com/48519253/78688149-95557780-7912-11ea-8dd7-484037422506.png)

[2020-04-07 16:07] rudykonio commented on #265
Duplicate of #264 , still down :(

[2020-04-07 16:12] paolotamag commented on #264
down for me as well during my webinar XD
luckily i had previously cached data in my dashboard!

[2020-04-07 16:30] azeezgaa commented on #264
Anyone has any idea is this going to solved ?

Since i had a demo to my manager on this scheduled this Friday

[2020-04-07 16:52] GabrielDS commented on #264
I think the problem is the app on Dyno (instances heroku).  I runned without problems locally.
@Kilo59

[2020-04-07 17:24] ibhuiyan17 commented on #264
<img width="1255" alt="Screen Shot 2020-04-07 at 1 19 16 PM" src="https://user-images.githubusercontent.com/33792969/78699968-b8603700-78d2-11ea-9e9e-4681aea43cc5.png">

https://www.heroku.com/pricing

Unfortunately scaling up on Heroku isn't cheap but here are some of the options that can be considered. I think the best option for now is running it locally

[2020-04-07 17:27] Toxyl commented on #264
Maybe crowdfunding?

[2020-04-07 17:29] Kilo59 commented on #264
I have another version of it hosted in the US that doesn't get nearly as much traffic.

https://covid-tracker-us.herokuapp.com/
https://github.com/ExpDev07/coronavirus-tracker-api/issues/248#issuecomment-607513106

[2020-04-07 17:31] ibhuiyan17 commented on #264
Could some sort of load-balancing scheme be implemented that directs traffic to multiple free instances?

[2020-04-07 17:32] Toxyl commented on #264
I'm still trying to get a node working on a Ubuntu server 'cause then I can spin up some droplets and put a load balancer in front.

[2020-04-07 17:33] #251 closed

[2020-04-07 18:02] azeezgaa commented on #264
What do you mean run locally,  can you please help on this. currently i am just using the heroko api and getting the response in json format

[2020-04-07 19:08] itsamirrezah commented on #264
@azeezgaa actually it's pretty simple, just follow the instruction that mentioned in Readme file.

* Clone repository
* Install python 3.8
* Install pipenv
* Run `pipenv shell` command.

Checkout installation section: https://github.com/ExpDev07/coronavirus-tracker-api#installation

[2020-04-07 19:13] azeezgaa commented on #264
But this will work onlly in my pc not in other pc's right and it wont work on mobile devices am i right

[2020-04-07 19:27] itsamirrezah commented on #264
@azeezgaa Yes, your right, but for development & testing purposes, running locally is more reliable way.
also I think you can deploy the repository on your own server. (if its allowed)

[2020-04-07 19:31] Toxyl commented on #264
It didn't work quite so well for me the first time around when I tried with Debian 10 and Ubuntu 19.10, Ubuntu 18.04.3 did though. Should have looked at the files earlier, then I would have seen the docker-compose.yml xD Now making an Ansible playbook to deploy those.

[2020-04-07 21:21] Bost commented on #262
@Toxyl we've been having quite an extensive mapping `country name -> country code` containing all sorts of alternative country names, aliases, synonyms, JHU CSEE misspellings etc.
https://github.com/ExpDev07/coronavirus-tracker-api/blob/master/app/utils/countries.py

[2020-04-07 21:39] gribok commented on #264
Many platforms supports COVID-19 projects with enterprise accounts for free during pandemic.
See https://github.blog/2020-03-23-open-collaboration-on-covid-19/

Maybe this could push the project to get on landingpage.

[2020-04-07 21:40] Kilo59 commented on #264
We don't have good error logging setup so I can't really determine what the underlying cause was.
We don't actually get __THAT__ hot, which seems to be anywhere between 200 - 800 requests per minute depending on the time of day.

Here are some metrics from around the time of the outage and then you can see when the app recovered. It could have just been a problem with Heroku's infrastructure. 🤷‍♂

[2020-04-07 21:46] gribok opened #266 "Add logging to project"
How is about integrate of logging module to project, which could be controlled through config file with different logging level?
Maybe with a rotated logfile.

[2020-04-07 21:51] Kilo59 commented on #266
@gribok I should have been more specific. We do logging. We don't have a good way to filter and sort through the logs, especially if any significant time has passed.
We should probably log more things, but it won't do a lot of good if we can't easily look at and filter them.

[2020-04-07 21:55] Toxyl commented on #264
I've setup two small droplets running the API behind a load balancer, feel free to use them as long as they can handle the load: http://188.166.130.146
I've also written an Ansible playbook that I can use to add new nodes when needed.

[2020-04-07 21:57] Kilo59 commented on #266
I don't know much about the logging tools available on Heroku.
If anyone has experience with any of these let me know.

https://elements.heroku.com/addons

## Free Tier

1. https://elements.heroku.com/addons/logdna
2. https://elements.heroku.com/addons/timber-logging
3. https://elements.heroku.com/addons/sumologic
4. https://elements.heroku.com/addons/papertrail
5. https://elements.heroku.com/addo

[2020-04-07 22:18] Kilo59 commented on #264
FYI it's back up.
It seems to have *only* 😬 lasted about an hour.

[2020-04-07 22:23] Kilo59 commented on #262
@ccedacero @Toxyl
https://github.com/ExpDev07/coronavirus-tracker-api/blob/master/app/utils/populations.py

https://github.com/ExpDev07/coronavirus-tracker-api/blob/5b0197993fcb3eb573ae1dc9a94de9d93902fad7/app/utils/populations.py#L9-L44

[2020-04-07 23:06] Toxyl commented on #262
At least for the Netherlands Geonames seems to be way off as Wiki says `Population:
17,424,978 (November 2019) (64th)` _but_ I don't know if that maybe is because the Caribbean territories are not taken into account by Geonames.

Problem is that the Wiki data might be just as flawed. Maybe it's an idea to add a parameter for that  that source just like JHU vs CSBS? Like `?populationdata=wiki` / `?

[2020-04-07 23:52] #231 closed

[2020-04-08 05:55] Toxyl commented on #248
I've setup a mirror of the API that you can use as a fallback: https://cvtapi.nl/

[2020-04-08 12:58] effettidesigns opened #267 "How can I remove the banner"
Hi there, actually I'd like to remove the Coronavirus Data banner from my Wordpress website, can someone tell me how to do this?

Thank you

[2020-04-08 13:29] #267 closed

[2020-04-09 00:00] RafiqCR7 opened #268 "Last Updated date for Latest Figured Incorrect"
It doesn't look like there is a report available for the 8th yet, however the api is reporting the last updated date on the latest figures provided as the 8th? Surely it should be reporting these with the last updated date set to the 7th as this is when the figures are from?

[2020-04-09 02:22] Kilo59 opened #269 "Dockerfile cannot be run as is."
The current Dockerfile cannot be run as is without Docker compose.
Note, it works fine with docker-compose.

[code]

[2020-04-09 05:19] Toxyl commented on #268
Keep in mind that countries take a while to report the figures, like the update for the Netherlands happens somewhere around 3-4 at night, not at midnight or shortly after.

[2020-04-09 05:44] Toxyl commented on #264
![avg_req_duration](https://user-images.githubusercontent.com/11501185/78861307-caf28180-7a34-11ea-95cd-fe5100a2dee4.PNG)

That is from my load balancer which is experiencing hardly any load. Ignore the first half as I was still doing some setup on the nodes. Makes me wonder if the API has memory leaks or a similar issue which could explain the outage. Can you check logs on heroku? Maybe the API c

[2020-04-09 10:31] Kilo59 commented on #266
I went ahead and added Timber-logging to the main Heroku deployment.
https://elements.heroku.com/addons/timber-logging

I don't know that it's THE BEST offering, I'd be happy to switch to something else.
The next time we have an issue it should be easier to search/filter through it.

There's still work to be done to add more logging around critical sections.

[2020-04-09 10:50] Kilo59 opened #270 "Investigate cause of API outage on April 7 2020"
Opening this issue to continue the discussion of the Outage on April 7th.
#264

[Metrics From the time of the Outage and afterwords](https://github.com/ExpDev07/coronavirus-tracker-api/issues/264#issuecomment-610634512)

I will update this comment with new information as needed.

[2020-04-09 10:53] Kilo59 commented on #264
@Toxyl no I can't go back and look at the logs more that far back.
I have added the free tier of Timber IO #266, so in the future, I should be able to look back.

I've also seen those log messages, but I don't know enough about that section to know if that's concerning. If it's not actually a problem I do think we should change the log level for that message because it does imply that there's a pr

[2020-04-09 10:53] #264 closed

[2020-04-09 10:54] #248 closed

[2020-04-09 11:16] Toxyl commented on #264
I don't know how you've set up the server. The way I would set it up it would restart the API when it crashes, which would happen after a while of timeouts, so it would appear unreachable for a while before coming back. If it was a memory leak the API would crash after all memory has been consumed which does not imply that it's reachable until then. But yeah, I might be way off with that, it's jus

[2020-04-09 11:32] Toxyl commented on #270
Can you install monitoring software like Munin? Might help to spot issues. My nodes both have a Munin installed. Should a node become unavailable I'll check if I can spot something useful.

[2020-04-09 14:44] Bost commented on #264
The API service was looking for a country code in the [COUNTRY_NAME__COUNTRY_CODE](https://github.com/ExpDev07/coronavirus-tracker-api/blob/master/app/utils/countries.py) dictionary using `MS Zaandam` and/or `Diamond Princess` as a country name. And it returned `XX` with a warning since no such countries exist. And such warnings appear only once per hour since the responses are cached for exactly

[2020-04-09 15:04] Toxyl commented on #264
I know that. That wasn't the point. The point being that they appear *multiple* times in *one* update.

[2020-04-09 17:02] Kilo59 commented on #264
@Toxyl @Bost
The log message appearing multiple times isn't necessarily an issue either. You could be seeing the logs from multiple processes.
The application is deployed using the [gunicorn](https://gunicorn.org/) which uses multiple workers.
http://docs.gunicorn.org/en/latest/settings.html#worker-processes

I believe the number of workers  (if not set) is determined by the number of cores on the

[2020-04-09 18:01] Toxyl commented on #270
@Kilo59 I was checking the FastAPI repo to see if there are any known issues that might match and I did find one that could be related: https://github.com/tiangolo/fastapi/issues/596

I've also done a load test on my mirror to see if I can provoke a failure or something else that might shed some light on the issue. On three servers I started in total 72 scripts curling the `/all` endpoint every se

[2020-04-09 20:34] Toxyl commented on #270
Looks like it has stabilized, here's the graphs:

## Munin
![cvtapi-munin](https://user-images.githubusercontent.com/11501185/78938013-be603e80-7ab1-11ea-82bd-5d90a9433e63.PNG)
Ignore the drop in the middle, that was another test.

## DigitalOcean
![cvtapi-loadbalancer](https://user-images.githubusercontent.com/11501185/78938198-15feaa00-7ab2-11ea-8cb5-4d0b9a8005a2.PNG)

[2020-04-09 22:59] MZDN commented on #161
Hi,
JHU is still providing recovered data:
https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv
Could you please adjust the api? Thanks

[2020-04-10 07:19] Sajantoor opened #271 "Thanks so much for the API, created data visualization."
Used your data for confirmed cases and deaths (hopefully recoveries soon) and mapped using the coordinates!

GitHub repo: https://github.com/Sajantoor/COVID19-Tracker
Web App: https://virustracker.web.app/

[2020-04-10 11:49] GabrielDS commented on #269
I'll fix this

[2020-04-10 12:01] Kilo59 commented on #269
It might be worth adding a custom pre-start script `/app/prestart.sh` so that it overrides the current one. Could maybe just echo some information about the project and end.
We aren't using a RDMS so there's no need to wait 10 seconds and run `alembic`.

https://github.com/tiangolo/uvicorn-gunicorn-fastapi-docker#advanced-usage

[2020-04-10 12:12] GabrielDS commented on #269
No problem. I just don't know what information i put in this file.

[2020-04-10 19:18] nikhilkutinha commented on #161
Thanks for this excellent API :)
Would be really cool if the recovered numbers are enabled again.

[2020-04-11 02:42] #269 closed

[2020-04-11 03:41] ccedacero commented on #262
@Toxyl  It looks like the wiki numbers are not far off.
It looks like Google uses Eurostat, World Bank and United Nations depending on the country. . I guess we can scrape those? or we can run scrape google searches for all countries and collect the data that way. I think the google way would be easiest and reliable.  Or we can stick with Wikipedia.

[2020-04-11 09:12] Toxyl commented on #262
I've made a new source with updated population data, here's the PR: https://github.com/ExpDev07/coronavirus-tracker-api/pull/274

[2020-04-11 09:42] Toxyl commented on #270
Not sure what to make of this. I've started another test with simply curling every minute for bout a day. From the moment I started the test the `Average Request Duration` steadily dropped, after 12 hours it was down to about 100ms and stayed there. But from 200ms down I saw an increase in 4xx responses. I just stopped the test, let's see if the `Average Request Duration` starts to increase again.

[2020-04-11 12:53] Kilo59 commented on #270
### Duplicate Log messages

@Toxyl @Bost
Here's another possible explanation for the duplicate log message.
Looks like it was fixed upstream yesterday. Not sure if it's been cut into a new release yet.
https://github.com/encode/uvicorn/issues/614#event-3222809178

### Memory Leak fix

https://devcenter.heroku.com/articles/python-gunicorn#max-request-recycling

@Toxyl However seems like this seems

[2020-04-11 13:01] #246 closed

[2020-04-11 13:43] Superblazer opened #275 "'URL: https://coronavirus-tracker-api.herokuapp.com/v2/locations?timelines=1' Doesn't work anymore."
Hello, this url has suddenly stopped working for me. Returns an Heroku Application error if I check the url on the browser.

[2020-04-11 13:49] Toxyl commented on #275
It was down for me too, but it is back.

[2020-04-11 18:01] ccedacero commented on #262
great! Thank you!

[2020-04-11 18:01] #262 closed

[2020-04-11 18:05] Toxyl commented on #262
You're welcome :)

[2020-04-11 22:59] otavio-s-s opened #276 "JHU back with recovered cases."
JHU is again updating recovered cases for a considerable number o countries. You can check it [here](https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv).

[2020-04-12 00:11] Kilo59 commented on #161
#276

[2020-04-12 06:37] MZDN commented on #276
related to https://github.com/ExpDev07/coronavirus-tracker-api/issues/161

[2020-04-12 08:14] pingustar opened #277 "Deaths number for Germany less than yesterday. Should be impossible. JHU Problem?"
Unless people are reborn in Germany :D this shouldnt be possible. Is this inconsistency coming from the JHU data or a problem with the API?

**Germany:**
[code]

(using the following endpoint: https://coronavirus-tracker-api.herokuapp.com/deaths)

[2020-04-12 08:21] Toxyl commented on #277
That's a JHU problem as you can see here: https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv

[2020-04-12 08:29] pingustar commented on #277
Thank you.

Will open issue there.

Closed.

[2020-04-12 08:29] #277 closed

[2020-04-13 01:16] #224 closed

[2020-04-13 23:02] Kilo59 commented on #266
`timber-logging` maxed out at 1 GB of free log storage and rather than roll over the logs,  it just prevents me from doing anything until I pay for more storage. ☹️
If there's a way to fix this it's not obvious to me. Going to try a different service.

[2020-04-14 01:39] Kilo59 commented on #270
Looks like we are having worker timeouts pretty frequently.
[code]

[2020-04-14 14:47] karim-alt commented on #161
try this : https://documenter.getpostman.com/view/9992373/SzS7PkXr?version=latest#7ce3048e-45eb-4421-b963-7ffc5e1fbd20

[2020-04-14 15:05] somm-doe commented on #182
It's probably just your antivirus software, @aramkoukia.

[2020-04-15 09:07] itsamirrezah commented on #72
It's possible to create a plot of world graph with current version of API. you have to merge all timelines together to build your own world timelines. it takes a little bit of unnecessary work but, still, its possible.
I used this approach in this commit:
https://github.com/itsamirrezah/COVID-19/commit/96531890262ff90b80dd4e3a02a96d74ee23044f#diff-887d82a275c962af219a78e71a23411aR126

The major pr

[2020-04-15 09:24] brim-borium commented on #275
It's currently down again. Seems like a timeout issue?

[2020-04-15 09:29] prateek951 opened #283 "API V2 does not give correct recovered cases, and the API is not working currently. Check the SS"
![image](https://user-images.githubusercontent.com/31117403/79321944-bd079980-7f29-11ea-8a99-a43221f67739.png)

Application Error

[2020-04-15 10:55] #283 closed

[2020-04-15 17:04] PRRH opened #284 "2 Superfulous comma in country data"
I know this is very minor.
country Code:-Korea, South
in Netherlands province: Bonair,Sint

[2020-04-16 14:33] Bost commented on #284
@PRRH what exactly do you mean? How to repeat your test case?

[2020-04-16 15:53] AliMonam opened #285 "Application error"
I got this "Application error". How Can I fix it?

[2020-04-16 17:12] PRRH commented on #284
*********** These are the only 2 inconsistancies in
                                         all of the countries where extra comma's appear
                                    This is extract for data downloaded from V1 All

      {
        "country": "Korea, South",                              ******Korea,
                                                                      ______
        "cou

[2020-04-17 06:40] HashJar commented on #275
The response size with flag **timelime=1** is 1.2 MB, and 66 KB without it.

[2020-04-17 09:40] itsamirrezah commented on #161
Is there any future plan to showing recovered data for /v2 ?
Thank you for your hard work.

[2020-04-17 19:08] MadTed opened #286 ""Tracker" App"
Hi there,

you name you're app a somehow "tracker".
For me this is confusing.
Now they started to develop real tracker apps, to track down people who are infected with
covid-19 and tracking their contacts.
Your app is only a dashboard, or?
So I would like to suggest to take out the "tracking" term from your repository.

What do you think about that?

Greets,
Ted

P.S.: I started to develop such a

[2020-04-17 20:14] Kilo59 commented on #285
Probably the API was just down temporarily but in the future, you should attempt to provide more context about how you were using the API and steps you've taken to ensure it isn't something on your end.

[2020-04-17 20:14] #285 closed

[2020-04-17 20:16] #286 closed

[2020-04-18 08:56] zamponotiropita opened #287 "API is down"
The endpoint https://coronavirus-tracker-api.herokuapp.com/all seems to be down at the moment (Status 503 Service Unavailable)
![image](https://user-images.githubusercontent.com/23146389/79633030-30482000-8163-11ea-9ea6-3ae382273565.png)

[2020-04-18 08:59] zamponotiropita commented on #275
The endpoints are down again. Tested also https://coronavirus-tracker-api.herokuapp.com/ and https://coronavirus-tracker-api.herokuapp.com/all

[2020-04-18 16:56] Kilo59 commented on #264
@Toxyl @Bost
Added more logging in #290

[2020-04-18 17:09] TiagoAryan opened #292 "I'm using your api"
Hi! Thanks for your API.
See the [website here](https://sparebullit.com/covid19).

we welcome any suggestion / bug

[2020-04-18 17:56] Kilo59 commented on #275
Thanks for reminding me about the response size. Going to add GZIP compression.

[2020-04-18 17:58] Kilo59 opened #293 "Add GZIP compression to reduce response size"
https://stackoverflow.com/a/16692852
https://developers.google.com/blogger/docs/3.0/performance
https://www.starlette.io/middleware/
https://fastapi.tiangolo.com/advanced/middleware/#gzipmiddleware

[2020-04-18 18:10] #293 closed

[2020-04-18 18:25] #209 closed

[2020-04-18 18:25] #215 closed

[2020-04-19 12:55] VeeNOFF opened #296 "API always showing 0 recovered"
Hello,
First, sorry for my english but i'm totally french.
Then, i have a big problem by using your api; in all circumstances the number of recovered remains at 0 and those for the whole world, each country and at any date.
I don't think it's my problem because everything else works perfectly. Thank you for your help.

[2020-04-19 13:37] Kilo59 commented on #296
See issue #161

[2020-04-19 13:37] #296 closed

[2020-04-19 13:50] #287 closed

[2020-04-19 17:53] #49 closed

[2020-04-19 17:54] #70 closed

[2020-04-19 17:56] Kilo59 opened #297 "User created content"
To reduce the number of open issues and highlight the critical issues that still need to be addressed. I'm going to start collecting all the "user-created" issues here.
Please let me know if I've miscategorized this your project.

## UI

1. [corona-viz](https://github.com/ExpDev07/coronavirus-tracker-api/issues/37) @majidkorai
2. [Android COVID-19](https://github.com/ExpDev07/coronavirus-tracker-a

[2020-04-19 17:57] #45 closed

[2020-04-19 17:57] #36 closed

[2020-04-19 17:58] #33 closed

[2020-04-19 17:59] #24 closed

[2020-04-19 17:59] #37 closed

[2020-04-19 18:01] Kilo59 commented on #110
I can't find this project anymore. Has the URL changed?

[2020-04-19 18:01] #110 closed

[2020-04-19 18:03] #140 closed

[2020-04-19 18:03] #88 closed

[2020-04-19 18:07] Kilo59 commented on #154
Getting a 404 for this. Do you have an updated URL?

[2020-04-19 18:07] #154 closed

[2020-04-19 18:09] #167 closed

[2020-04-19 18:09] #160 closed

[2020-04-19 18:09] #142 closed

[2020-04-19 18:09] #141 closed

[2020-04-19 18:17] #203 closed

[2020-04-19 18:17] #197 closed

[2020-04-19 18:17] #185 closed

[2020-04-19 18:17] #177 closed

[2020-04-19 18:17] #172 closed

[2020-04-19 18:26] #271 closed

[2020-04-19 18:26] #263 closed

[2020-04-19 18:26] #260 closed

[2020-04-19 18:26] #235 closed

[2020-04-19 18:26] #247 closed

[2020-04-19 18:29] MM-coder commented on #297
Maybe create a "Vizualization" category

[2020-04-19 18:31] TheAleLoco2 commented on #154
Google just deleted my app, is very sensitive to this issue.

[2020-04-19 19:31] rcideos commented on #297
Yep, agree, better specify the "Visualization" category

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Mauro M. <notifications@github.com>
Sent: Sunday, April 19, 2020 12:29:48 PM
To: ExpDev07/coronavirus-tracker-api <coronavirus-tracker-api@noreply.github.com>
Cc: rcideos <r.cideos@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [ExpDev07/

[2020-04-21 16:37] ChuckVanzant opened #298 "Timeline json formatting"
Is it possible to modify, or as an option, write the timeline json format to be the following? It might be easier to parse. Thanks!

{
  "location": {
    "id": 39,
    "country": "Norway",
    "country_code": "NO",
    "country_population": 5009150,
    "province": "",
    "county": "",
    "last_updated": "2020-03-21T06:59:11.315422Z",
    "coordinates": { },
    "latest": { },
    "timelines":

[2020-04-22 06:12] l-dietrich opened #299 "API is down"
The API is currently unavailable again.
![grafik](https://user-images.githubusercontent.com/61526398/79946793-f764bf80-8470-11ea-884a-0c20a4c29816.png)

[2020-04-22 06:22] l-dietrich commented on #299
Seems to be running again.

[2020-04-22 06:22] #299 closed

[2020-04-22 19:15] Sajantoor commented on #161
Will recoveries be added to v2?

[2020-04-23 01:03] Kilo59 commented on #161
@itsamirrezah @Sajantoor
Yes, no-one has gotten around to doing it though.

[2020-04-23 01:05] Kilo59 commented on #298
This is the first I've seen anyone complain about the difficulty in parsing the response.
Why is this better?

[2020-04-23 02:15] ChuckVanzant commented on #298
Don't know how others are parsing but. I'm using the .NET System.Text.Json namespace, JsonSerializer.Deserialize<> to dump the response body into objects derived from a sample representation of the response body. The current structure expects each date in a timeline to be a separate class. My suggestion is to format a timeline as a list of timeline class objects, each with date and count propertie

[2020-04-23 11:26] udsgit opened #300 "new interactive web [user-created]"
Thanks for your api, I have created that website https://udsgit.github.io/covid-19/ , with geo chart, pie chart, area chart, country list, and date that you can change. waiting for a future update for the recoveries :).

I have one question, sometimes have the error from CORS ALLOW ORIGIN, maybe I need to add any extra options to the headers in the fetch? or how can prevent that error for try to l

[2020-04-25 00:28] ChuckVanzant opened #301 "[BUG] Encoding of coordinates, latitude and longitude, differ between CSBS & NYT"
The encoding of coordinates, latitude and longitude, differ between these two sources:

NYT - v2/locations?source=nyt&timelines=true" - properties encoded as numbers
"coordinates":{"latitude":0,"longitude":0}

CSBS - v2/locations?source=csbs - properties encoded as strings
"coordinates":{"latitude":"40.71455","longitude":"-74.00714"}

This causes a deserializing exception when using the same desti

[2020-04-25 16:15] ret394 opened #302 "improve installation section: no pipenv"
responsive, performant website. thanks a lot.

https://github.com/ExpDev07/coronavirus-tracker-api#installation
only issue is `install pipenv`, it over-complicates stuff for little benefit. use python 3.x with venv module.

feel free to @ / contact me for more info at https://github.com/ret394/jubilant-broccoli/issues.

thanks. have a nice day. keep up the good work. 👍

[ret394](https://github.com

[2020-04-25 18:47] Kilo59 commented on #302
@ret394 you are free to ignore the use of `pipenv` and use `venv` and the `requirements` files directly.

[2020-04-25 18:47] #302 closed

[2020-04-25 18:48] Kilo59 commented on #301
I agree this is probably worth fixing. I'd be happy to accept a pull request to address this.

[2020-04-25 18:59] Kilo59 commented on #98
We are deployed with `gunicorn` that runs multiple worker processes (4) each with their own caches.
@cyenyx storing the data in any database (RDBMS, Mongo, Redis, etc) is being able to use it as a shared cache, so the workers don't have to independently rebuild their own separate caches every hour.
It also adds resiliency when one of the dependent services timeouts, or encounters some kind of erro

[2020-04-26 00:02] Sajantoor opened #303 "[BUG] NYT Source Coordinates are NULL"
For the NYT source the coordinates are NULL for all data objects.
(https://coronavirus-tracker-api.herokuapp.com/v2/locations?source=nyt)

[code]

[2020-04-26 00:30] Kilo59 commented on #303
Thanks for the report, and the example.
The NYT data-set was only recently added. They do not provide coordinates like our other sources.

Solutions to the problem were discussed by @nischalshankar but have yet to be implemented.
https://github.com/ExpDev07/coronavirus-tracker-api/pull/259#issuecomment-612674856

@Sajantoor
Any input or assistance would be welcomed.
Also I've edited your example s

[2020-04-26 00:34] Kilo59 commented on #301
As per issue #303 the values are returned as `null` not numbers.
Still worth fixing  of course 😄

[2020-04-26 00:34] #301 closed

[2020-04-26 00:40] Kilo59 opened #304 "Use a shared cache for gunicorn workers"
## References

1. https://realpython.com/python-memcache-efficient-caching/
2. https://stackoverflow.com/questions/43097811/how-can-i-share-a-cache-between-gunicorn-workers
3. https://krzysztofzuraw.com/blog/2017/gunicorn-lru-cache-pitfall.html
4. Set Caching Header issue #117

[2020-04-29 10:55] IfYouWouldStop opened #307 "Question"
Maybe this is just me being stupid but why is it that upon using the API for total recovered it actively pops up as  0 almost as though its not in total time?

[2020-04-29 11:30] Kilo59 commented on #307
See https://github.com/ExpDev07/coronavirus-tracker-api/issues/161

[2020-04-29 11:30] #307 closed

[2020-04-30 02:18] #304 closed

[2020-04-30 02:25] Kilo59 commented on #74
@alex644715 It seems like the issue is resolved. If not reply here or open a new issue.

[2020-04-30 02:25] #74 closed

[2020-05-02 12:57] #292 closed

[2020-05-02 13:00] Kilo59 commented on #300
@udsgit can you submit a separate bug report and provide details about the exact request and response error you are getting?

[2020-05-02 13:01] #275 closed

[2020-05-03 13:14] udsgit commented on #300
@Kilo59 I think I have already fixed it, but if not I will submit a separate bug report, thanks

[2020-05-03 13:36] udsgit commented on #161
Other Idea for try to fix  (for the moment) the recovered cases. Add https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv to other route for fetch, and for example in my web application I can "merge" with any functions every country, that would great almost for my web application.

[2020-05-05 17:31] ifndev commented on #136
Thanks !

[2020-05-09 19:54] Kilo59 commented on #266
Should use Sentry's ASGI Middleware for Error tracking.
https://github.com/getsentry/sentry-python/blob/master/sentry_sdk/integrations/asgi.py#L59

[2020-05-09 20:18] Kilo59 commented on #266
Implemented in #311

[2020-05-09 20:18] #266 closed

[2020-05-14 11:55] ZafarKamal123 opened #312 "Cannot get the number of recovered! [BUG]"
**Describe the bug**
I'm unable to fetch the recovered person

[2020-05-14 13:22] WinformsWizard commented on #312
This issue is already known, and has been addressed here:
https://github.com/ExpDev07/coronavirus-tracker-api/issues/161

[2020-05-15 11:38] ahmedfaaid commented on #161
Will the recovery stats ever be added in the API?

[2020-05-17 18:13] lxu213 opened #313 "Add FIPS code to counties from NYT source"
Currently, the counties from the NYT source are assigned IDs that don't abide to any standard. If they were assigned an [FIPS county code](https://en.wikipedia.org/wiki/List_of_United_States_FIPS_codes_by_county) which are used by the US Census Bureau to uniquely identify geographic features, it would be much easier to join, identify, and parse.

I'm not sure the best approach to implementing this

[2020-05-17 18:15] #313 closed

[2020-05-17 18:16] lxu213 opened #314 "Add FIPS code to counties from NYT source"
Currently, the counties from the NYT source are assigned IDs that don't abide to any standard. If they were assigned an [FIPS county code](https://en.wikipedia.org/wiki/List_of_United_States_FIPS_codes_by_county) which are used by the US Census Bureau to uniquely identify geographic features, it would be much easier to join, identify, and parse.

I'm not sure the best approach to implementing this

[2020-05-17 20:52] #312 closed

[2020-05-17 21:00] Kilo59 commented on #161
@ahmedfaaid That is the plan but no-one has gotten around to implementing it yet.
See the rest of the thread.
I'm currently working on a major redesign to simplify the codebase (hopefully making it more friendly to new contributors).
I would happily accept a pull request to deal with the JHU recovered vs confirmed/deaths data mismatch.

[2020-05-17 21:34] Kilo59 commented on #314
This sounds like a good idea.

I've been meaning to start a discussion thread about potentially a v3 of the API, we wouldn't need to worry about backward compatibility in that case.
I think being able to access the nested locations with sensible ids would be part of that.
`GET v3/countries/<country_code>`
` GET v3/countries/<country_code>/<state/province>`
`GET v3/countries/<country_code>/<state/p

[2020-05-17 21:39] Kilo59 commented on #298
I still don't understand what the benefit to doing this is, but it could be worth considering for any new versions of the api.
I don't expect we will be changing the format of existing responses as that would break lots of apps that rely on the API.

[2020-05-18 15:30] Ruekompa opened #315 "[BUG]"
After looking into this error that I received, there seems to be an issue with the SSL.

`curl: (35) error:1400410B:SSL routines:CONNECT_CR_SRVR_HELLO:wrong version number`

I was able to get a response after changing it from https to http.

`curl http://coronavirus-tracker-api.herokuapp.com/v2/locations | jsonpp`

[2020-05-18 16:07] #315 closed

[2020-05-18 21:50] lxu213 commented on #314
@Kilo59 that's great a v3 of the API will be discussed soon! Being able to access either using FIPS county code or by using county name would be great.

[2020-05-19 03:14] ahmedfaaid commented on #161
@Kilo59 Okay that sounds good. Hopefully someone can help implement soon. I would have contributed if I was a Python dev.

[2020-05-23 21:40] ChuckVanzant commented on #298
I had some reformatting code that reformatted the response body so I could deserialize it into the needed destination objects but the reformatting took nearly 2 minutes to execute. I ended up skipping the timeline feature via your API and I am now directly downloading the CSV file from the NYT site and processing it which only takes a near negligible amount of time.

[2020-05-23 21:40] #298 closed

[2020-05-24 01:38] WinformsWizard commented on #298
Here is a simple way to do in C# using Newtonsoft.Json
[code]

[2020-06-13 05:08] xiaoxianma commented on #303
@Kilo59 Hi, I'm very interested in this project. I'd like to help with this. Inspired by @nischalshankar, NYT data-set provides county, state, and fips code where county and fips code are one-to-one mapping, so knowing county and state may be good enough to locate coordinates. We can leverage a library called _**geopy**_ to achieve it. **_geopy_** seems reliable as I haven't seen an edge case yet.

[2020-06-18 19:21] TheApphiver opened #318 "Server error"
Hello, I was doing some tests on the page https://coronavirus-tracker-api.herokuapp.com/ but sometimes a service is not available message appears or an application error, I would like to know if it is because they are doing maintenance to the server, also in some endpoints an api failure error message also appears

[2020-06-25 07:56] elizaan opened #320 "[UPDATE ISSUE]"
API data is being updated lately these days. More than 24 hours have been occurred but still no update of historical data

[2020-06-25 10:13] PRRH commented on #320
Has the updating finsihed??

[2020-06-25 10:48] elizaan commented on #320
not been updated yet! data till 23 June still

[2020-06-25 12:27] Kilo59 commented on #320
Have you checked the source data to see if it has been updated yet?

[2020-06-25 12:28] #318 closed

[2020-06-25 13:52] PRRH commented on #320
Every thing now OK

[2020-06-25 15:48] #320 closed

[2020-07-01 05:42] elizaan opened #321 "[UPDATE ISSUE]"
urgent: confirmed and death cases have been updated but recovered have not been updated yet !!! recovered cases are of 29/06/2020

[2020-07-09 06:16] elizaan opened #322 "[BUG]"
API crushes may times in a day

[2020-07-10 09:40] Bost commented on #284
The content of the `country` and `province` comes from the JHU repo, more precisely from the columns `Province/State` and `Country/Region` in their the csv files. As you can see on lines [93 - 111](https://github.com/ExpDev07/coronavirus-tracker-api/blob/375794e1a17fb955282bc148cff62ee873e89ff4/app/services/location/jhu.py#L93-L111) we just pass it on. (IOW garbage in, garbage out.) BTW exactly th

[2020-07-10 11:00] #284 closed

[2020-07-11 09:21] PRRH commented on #284
Thanks for you reply.
It was only a passing comment.

[2020-07-25 13:08] PRRH opened #323 "Access to application"
**Describe the bug**
A clear and concise description of what the bug is. Please include timestamps and HTTP status codes.
If possible include the [httpie](https://httpie.org/) or `curl` request and response.
Please include the verbose flag. `-v`

**To Reproduce**
`httpie/curl` request to reproduce the behavior:
1. Getting Italy data at `v2/locations/IT` gives a 422.
2. Expected to same data as `/v

[2020-07-25 13:10] PRRH commented on #323
https://coronavirus-tracker-api.herokuapp.com/
returns application error
becoming annoying

[2020-07-25 13:13] PRRH commented on #323
No sooner leaving a comment application up & running.

[2020-07-25 13:19] PRRH commented on #323
Did not last for more than 2 mins then
APPLICATION ERROR !!!!!https://coronavirus-tracker-api.herokuapp.com/

[2020-07-27 19:54] Sajantoor commented on #323
Says application error for me also if I go to anything under or fetch from "https://coronavirus-tracker-api.herokuapp.com/". When will this be fixed?

[2020-07-28 16:12] Kilo59 commented on #321
These depend on the nyt, jhu and csbs updating their data.

[2020-07-28 16:12] #321 closed

[2020-07-28 16:14] Kilo59 commented on #323
@Sajantoor
If 100% availability is an issue for you I suggest deploying the application yourself or using this US-based version.
https://covid-tracker-us.herokuapp.com/

[2020-07-28 16:15] Kilo59 commented on #322
Try this US based deployment of the app.
https://covid-tracker-us.herokuapp.com/

[2020-08-01 07:38] trulyenlightened opened #325 "[BUG]Hi the nyt source does not seem to work. curl -X GET "https://covid-tracker-us.herokuapp.com/v2/locations?source=nyt&country_code=US&county=Los%20Angeles&timelines=true" -H "accept: application/json"."
**Describe the bug**
A clear and concise description of what the bug is. Please include timestamps and HTTP status codes.
If possible include the [httpie](https://httpie.org/) or `curl` request and response.
Please include the verbose flag. `-v`

**To Reproduce**
`httpie/curl` request to reproduce the behavior:
1. Getting Italy data at `v2/locations/IT` gives a 422.
2. Expected to same data as `/v

[2020-08-01 16:00] Kilo59 commented on #325
Seem's to work for me, it's possible it timed out because the cache needed to be refreshed.

https://covid-tracker-us.herokuapp.com/v2/locations?source=nyt&county=los%20angeles
[code]

[2020-08-01 17:58] Kilo59 commented on #325
https://covid-tracker-us.herokuapp.com/v2/locations?source=nyt&county=los%20angeles&timelines=true

[code]

[2020-08-01 18:38] Kilo59 opened #326 "Handle Timeout errors better"
Currently, timeout-related errors are not explicitly handled and return unhelpful 503 messages.
It would be nice if a more informative error was returned such as details about the particular source that timed out.

The `nyt` source seems to be the cause of many timeouts.

[2020-08-01 18:40] trulyenlightened commented on #325
Hi thanks a lot, how can i see timelines for US States, cause when i try to do this https://covidestimator.herokuapp.com/v2/locations?country_code=US&source=nyt&province=California&timelines=true, i am unable to get timelines for states but instead for some reason i get breakdowns of county and related details.

[2020-08-02 13:56] xe-nvdk opened #327 "Application Error"
Hello, thanks for this fantastic work. Since yesterday I can't access to the data. I've been trying with the followings URL:

https://covid-tracker-us.herokuapp.com/v2/locations?source=nyt&county=los%20angeles or https://coronavirus-tracker-api.herokuapp.com/v2/locations/224 and after a while Application Error appears.

How can I help to fix this?

![image](https://user-images.githubusercontent.co

[2020-08-02 17:39] Kilo59 commented on #327
Does this only happen with the `nyt` source?

[2020-08-02 17:51] xe-nvdk commented on #327
Nope, with main too.

https://coronavirus-tracker-api.herokuapp.com/v2/locations/224

are you able to "browse" that url?

[2020-08-02 18:00] Kilo59 commented on #327
@xe-nvdk
Yes.
[code]

[2020-08-02 19:44] xe-nvdk commented on #327
Now is working again

[2020-08-05 15:18] #327 closed

[2020-08-05 15:19] xe-nvdk commented on #327
I close this issue. isn´t for the API tracker, was an outage of Heroku.

[2020-08-25 20:12] traderjosh opened #329 "[BUG]"
Cannot access the API again. Previous user brought this bug up below. Error is to do with CORS, but he mentioned Heroku is down.

[2020-08-26 18:54] traderjosh commented on #329
it's back up

[2020-08-26 18:54] #329 closed

[2020-09-03 03:20] momonepal opened #330 "[DOWN] API down"
**Describe the bug**
A clear and concise description of what the bug is. Please include timestamps and HTTP status codes.
If possible include the [httpie](https://httpie.org/) or `curl` request and response.
Please include the verbose flag. `-v`

**To Reproduce**
`httpie/curl` request to reproduce the behavior:
1. Getting Italy data at `v2/locations/IT` gives a 422.
2. Expected to same data as `/v

[2020-09-03 03:20] momonepal commented on #330
API down

[2020-09-09 18:59] #330 closed

[2020-09-12 15:19] trulyenlightened commented on #326
any updates on this ?

[2020-09-19 19:00] vyahello opened #331 "[BUG] "/v2/sources" API endpoint returns 503 http status code"
GET request on https://coronavirus-tracker-api.herokuapp.com/v2/sources API endpoint returns 503 http status code:
[code]
Do we support `/v2/sources` endpoint ?

[2020-10-11 20:26] orestis-z commented on #331
Is the API still maintained?

[2020-10-11 20:27] orestis-z commented on #330
I'm getting 503. Is the API still maintained?

[2020-10-11 20:27] orestis-z commented on #329
I'm getting 503. Is the API still maintained?

[2020-10-11 21:22] Kilo59 commented on #329
You've made this same comment on 3 different issues.

There answer is yes but we need to do some work to minimize memory usage. We are using the free tier of Heroku and it keeps bumping up against its memory limit.

Probably I'll be changing the default behavior to only retrieve the latest `x` days of history by default.

[2020-10-12 05:31] wobsoriano commented on #331
api dead

[2020-10-12 12:12] Kilo59 commented on #331
https://github.com/ExpDev07/coronavirus-tracker-api/issues/329#issuecomment-706770078

[2020-10-12 18:13] web-sys1 commented on #329
Same here.
![Screenshot_Monday 1602526106000](https://user-images.githubusercontent.com/61905565/95777951-cd79b080-0ccf-11eb-8c4c-7aa050312d06.png)

[2020-10-12 18:32] web-sys1 opened #332 "[BUG] Unable to access the site. Error 503 (Service Unavailable)"
**Describe the bug**
A clear and concise description of what the bug is. Please include timestamps and HTTP status codes.

I am getting 503 Error code: An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details. You can do this from the Heroku CLI with the command:
`heroku logs --tail`

**To Reproduce**
`httpie/curl` reques

[2020-10-12 19:49] Kilo59 commented on #332
#329 (comment)

[2020-10-12 19:51] web-sys1 commented on #331
#332

[2021-02-04 15:09] Bost commented on #332
I'm also getting the "Service Unavailable 503". The log below is a bit verbose, I know. But that may help you if the problem something else than the aforementioned out-of-mem. The timestamps on the left are for PST – Pacific Standard Time.

[code]

[2021-04-19 16:12] carlshan opened #340 "[BUG] Unable to access the site. Error 503 (Service Unavailable)"
**Describe the bug**
Hitting the v2 API at the `https://covid-tracker-us.herokuapp.com` backend is yielding a 503 Server Error.

I've seen the other issues that have raised this problem in the past and know that there may be some work in progress to reduce memory usage to prevent hitting the Heroku free tier limits.

Raising this issue as I recently ran into it again today.

Context: I hit this AP

[2021-04-19 16:28] carlshan commented on #340
Update: literally 15 minutes after I posted the bug above, the API came back up. I'm leaving the Issue open for now so that it flags this issue for a maintainer to see, and perhaps inform prioritization against whether to do anything to prevent future downtime.

[2021-04-19 17:22] web-sys1 commented on #340
Duplicate issue **[BUG] Unable to access the site. Error 503 (Service Unavailable)** (note that #332 was originally opened in October year).

[2021-04-19 20:49] Kilo59 commented on #340
Sorry guys.

I made some experimental changes to the US version of the site awhile ago to try to reduce memory usage but it seems to have had the opposite effect and so it is now much more unstable than the EU version and goes down several times a day.

This all despite the fact that it gets a lot less traffic 😬.

Thanks for the details, I'll either fix it or revert the changes within the week.

[2021-04-19 21:08] carlshan commented on #340
Thanks @Kilo59.

[2021-04-26 02:39] Kilo59 commented on #340
I've reverted the US mirror to use the same code as the EU one.

LMK if it seems to behave better or worse over the next few days.

I still need to find a memory profiler that works with FastAPI/Starlette, and then I can fix or rate-limit the problematic endpoints.

[2021-04-26 14:43] marianopeck commented on #322
I have the same problem but when using the US version, I also get frequent "Application error"

[2021-04-26 15:07] marianopeck commented on #332
Same here.

[2021-04-26 15:10] marianopeck commented on #340
Could someone please tell me the existing mirrors so that I can try which one seems more stable? Because neither https://covid-tracker-us.herokuapp.com or https://coronavirus-tracker-api.herokuapp.com seem stable to me. I am getting 50x errors on both

[2021-04-26 18:19] Kilo59 commented on #340
@marianopeck what routes are you hitting?

[2021-04-26 18:25] marianopeck commented on #340
Hi @Kilo59 I hitting once https://coronavirus-tracker-api.herokuapp.com/v2/locations?source=jhu&timelines=false and then, once per location, I hit  'https://coronavirus-tracker-api.herokuapp.com/v2/locations/{1}?source=jhu&timelines=false' .
My problem is always with the latter. And there are 2 situations I get:

1) 500 Internal Server Error response
2) 200 OK but with empty contents!

With the US

[2021-04-26 18:29] Kilo59 commented on #340
@marianopeck I would bet the first request is actually the one that causes the memory issue on the tiny heruko instances.
And your subsequent requests are hitting just as the application is trying to recover.

But that's just a guess before I've had a chance to do some memory profiling.

[2021-04-26 18:36] marianopeck commented on #340
@Kilo59 thanks for the insights. Do you know if there are other bigger heroku instances without this issue? I am asking because my usage of this is for a online demo/presentation and I fear it would fail during it...
If I can be of any help with this let me know..all I can offer is to run my script and keep you posted.

[2021-04-26 18:45] Kilo59 commented on #340
There was someone awhile ago that was ruining it on some more robust infrastructure awhile ago (I think maybe Digital Ocean).
I can't look it up easily from my phone.

If you are concerned about a failure during a demo I would recommend you run it locally. Either directly or using Docker.

[2021-04-26 19:01] marianopeck commented on #340
Thanks @Kilo59 for the ideas. Yeah, I thought about running locally with Docker. I will see how far can I get with that one.
Also, if by any chance, whenever you are back with the computer, you find that other digital ocean server, please let me know!

[2021-05-03 12:13] marianopeck opened #341 "https://coronavirus-tracker-api.herokuapp.com is down with Internal Server Error"
Hi,
I am trying to access https://coronavirus-tracker-api.herokuapp.com/v2/locations this morning but the server is down.

[2021-07-07 10:04] kashyapm94 opened #344 "Help needed for V3?"
Hey,

I am looking to contribute to this project and I would like to know if a v3 is planned. If yes, are there any issues that I can help with?

Cheers!

[2021-07-24 14:33] ExpDev07 commented on #344
Hey! Currently, no v3 have been planned yet.

[2021-07-24 14:33] ExpDev07 commented on #341
Seems like it's up now.

[2021-08-03 20:18] #344 closed

[2021-08-05 15:14] snwchow opened #428 "Unable to run the program from a Windows machine"
Hello, I am having trouble running the program with a Windows machine;  As instructed, I installed Python 3.8 and pipenv, created the virtual environment and installed the dependencies via "pipenv sync --dev" from the commandline, as well as entering the virtual environment via "pipenv shell"

When I attempted the run the program via "main.py" I was met with an "ImportError" stating that the "atte

[2021-08-05 17:42] Kilo59 commented on #428
https://github.com/ExpDev07/coronavirus-tracker-api#running--development

The dependencies are resolved for a Linux or Mac machine so they may not be correct for windows.

If you are just trying to start it you don't need the `--dev` dependencies.

[code]

If you get more import/ dependency issues then you need to re-resolve the dependencies for windows.
```pipenv install```

[2021-08-05 17:54] snwchow commented on #428
Thank you for the reply; I tried "pipenv run start" after getting into the subshell virtual environment via "pipenv shell", but is now met with a "uvicorn error" running on http://127.0.0.1:8000
which suggests that it is somehow attempting to loopback to my local machine(?); with a suggested action of (Press CTRL+C to quit), which obviously aborts the program.

[2021-08-05 18:19] Kilo59 commented on #428
You probably have something else running on that port.
https://www.uvicorn.org/#command-line-options

The `pipenv run start` command is defined in the `Pipfile`.
https://github.com/ExpDev07/coronavirus-tracker-api/blob/master/Pipfile#L44
You can alter that or just run `uvicorn` directly and change the port number.

[2021-08-05 20:18] snwchow commented on #428
How can I find out what is using that port (port 8000), and stopping it/free it up so that coronavirus tracker api can use it?
Is there any ways to find out which port is currently free on my machine so that I can use the "uvicorn" command to change the port; and what would be the full command for it?  I assume it has something to do with "uvicorn --port #### APP", what should the APP in this case

[2021-08-05 20:43] snwchow commented on #428
When I ran the "pipenv run start" command, one of the line shows a "uvicorn.error:Started server process [14072]", and from the task manager it actually shows Python is associated with that PID (PID changes everytime I attempt to run "pipenv run start", but it is always Python that is using that PID)
Running "netstat -ano -p tcp" shows that Python is using that port when it is trying to run the pr

[2021-08-05 20:48] Kilo59 commented on #428
Just change the port that's being used.
No reason for all that port detective work.

Look at the line I linked
https://github.com/ExpDev07/coronavirus-tracker-api/blob/master/Pipfile#L44
Just add a port.
`start  = "uvicorn app.main:APP --port 8001"`
And `pipenv run start` again.

[2021-08-05 20:56] snwchow commented on #428
![error](https://user-images.githubusercontent.com/85044004/128419911-98c0febb-4ee7-4496-812f-a2556c335b70.jpg)
Same problem, changing the port doesn't solve the problem in this case.

[2021-11-21 13:00] Bost opened #487 "Errors: 503: Service Unavailable, 404 Not Found"
[code]

[2021-11-21 14:13] Bost commented on #487
The `https://coronavirus-tracker-api.herokuapp.com/all` works now. The `https://covid-tracker-us.herokuapp.com/all` still returns `404: Not Found.`

[2021-11-27 10:59] gtress commented on #487
No such APP There's nothing here, yet.

[2021-11-27 11:34] Bost commented on #487
??? Eeeh. Sorry, what do you mean by that?

[2021-11-30 16:18] Kilo59 commented on #487
I'm going to chalk this one up to a Heroku issue.

[2021-11-30 16:18] #487 closed

[2021-11-30 16:39] Kilo59 commented on #428
It looks like your remaining timeout issue is related to the host `api.geonames.org`.
It doesn't look like Windows issue.

I'm closing the issue.

[2021-11-30 16:39] #428 closed

[2021-11-30 16:39] #341 closed

[2021-11-30 16:40] #340 closed

[2021-11-30 16:41] #331 closed

[2021-11-30 16:42] #332 closed

[2022-01-26 09:58] PRRH opened #488 "Coronavirus data missing for Finland"
Having downloaded the data from the beginning of the pandemic, I have notices in the last 10 days or so than Finland data are zero. No data from the 15th January to present day. (15-16 January would normally be zero as it is a weekend)
just thought I would point it out.
KEEP UP THE GOOD WORK AND THANKS.

[2022-08-24 09:25] PRRH opened #489 "[BUG]Death data missing from countries id266 onwards as from 23/08/22"
**Describe the bug**
A clear and concise description of what the bug is. Please include timestamps and HTTP status codes.
If possible include the [httpie](https://httpie.org/) or `curl` request and response.
Please include the verbose flag. `-v`

**To Reproduce**
`httpie/curl` request to reproduce the behavior:
1. Getting Italy data at `v2/locations/IT` gives a 422.
2. Expected to same data as `/v

[2022-08-24 09:55] ExpDev07 commented on #489
Hi! Maybe not the best API design, but you have to provide the "id" as seen in `/v2/locations?country_code=IT`, for IT, this is 154, so the correct endpoint to hit would be` /v2/locations/154` (without timelines: `/v2/locations/154?timelines=false`).

Hope this helped.

[2022-08-24 10:30] PRRH commented on #489
https://coronavirus-tracker-api.herokuapp.com/#/v2/get_locations_v2_locations_get
Thw .json file produced with try it out thenExecute from this websie produces th afore mentioned etror

[2022-08-24 10:33] ExpDev07 commented on #489
Works fine for me

[2022-08-24 10:33] PRRH commented on #489
https://covid-tracker-us.herokuapp.com/#/v2/get_locations_v2_locations_get
produces the same error

[2022-08-24 10:34] ExpDev07 commented on #489
No it does not. Could you provide a screenshot?

[2022-08-24 10:35] PRRH commented on #489
It is not an error the figure produced for deaths is Zero. from channel islands onwards.

[2022-08-24 10:36] PRRH commented on #489
{
      "id": 265,
      "country": "United Kingdom",
      "country_code": "GB",
      "country_population": 66488991,
      "province": "Channel Islands",
      "last_updated": "2022-08-24T09:02:51.575789Z",
      "coordinates": {
        "latitude": "49.3723",
        "longitude": "-2.3644"
      },
      "latest": {
        "confirmed": 0,
        "deaths": 0,
        "recovered": 0
      }

[2022-08-24 10:42] PRRH commented on #489
By the way thanks for your help I have been usiing these web sites every day since March 2020 to download the coronavirus data for all countries. IT HAS BEEN VERY MUCH APPRECIEATED. It has been a lockdown project.

[2022-08-24 10:43] ExpDev07 commented on #489
I understand what you mean now, I'll look into this. Could be an issue with the data provider.

And thanks for your kind words!

[2022-08-24 10:53] PRRH commented on #489
The clue might be that Guernsey and Jersey were added some months ago and the Channel Island figures have been zero ever since. Its odd that the zero data starts here. Just a thought

[2022-08-24 14:25] #489 closed

[2022-08-24 14:26] ExpDev07 commented on #489
This should be fixed now by the PR. Channel Islands still show 0 because, well, JHU haven't provided any data for it (maybe noone died?). Anyways, now, at least the locations coming after should not be affected @PRRH .

[2022-08-24 15:24] PRRH commented on #489
Thanks very much for all your help. Guernsey + Jersey are the Channel Islands .
Once again THANKS.

[2022-08-26 20:16] ExpDev07 commented on #488
Odd, but not much we can do with that. It needs to be resolved by JHU (https://github.com/CSSEGISandData/COVID-19).